<a
  href="#"
  class="galleryItem"
  data-source="/ISBHF/build/ajax-gallery.json"
  data-gallery-id="1"
>
  <img
    srcset="
      https://picsum.photos/784/980 784w,
      https://picsum.photos/392/490 392w
    "
    width="392"
    height="490"
    loading="lazy"
    alt="album"
  />
  <div class="galleryItem__content">
    <ul class="tags text-gray-200 text-sm mb-12 flex-wrap">
      <li>News</li>
      <li>November 17, 2024</li>
      <li>Autor fotek</li>
    </ul>
    <h2 class="h2 text-light mb-1">
      2024 ISBHF Men’s World Championsip – Recap
    </h2>
  </div>
  <div class="galleryItem__tourney">
    <img
      srcset="images/content/event-3.png 32w"
      width="40"
      height="40"
      loading="lazy"
      alt="logo"
    />
  </div>
</a>
