.galleryItem {
  display: block;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  aspect-ratio: 392/260;
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 120, 197, 0) 17.79%,
      #003a5f 84.25%
    );
    left: 0;
    top: 0;
    z-index: 1;
  }
  &__content {
    position: absolute;
    bottom: 24px;
    padding: 0 24px;
    z-index: 2;
  }

  .h2 {
    box-shadow: 0px 0px 10px 0px #0000000a;
  }

  &__tourney {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 40px;
    height: 40px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform: none !important;
    }
  }
}
