<section class="players-section">
  <div class="container">
    <h2 class="h1 mb-4">Rosters</h2>
    <form class="menuFilter mb-40">
      <label class="o-select mb-12 d-block">
        <select class="js-select">
          <option>CZE</option>
          <option>GBA</option>
          <option>SVK</option>
          <option>CZE</option>
          <option>GBA</option>
          <option>SVK</option>
          <option>CZE</option>
          <option>GBA</option>
          <option>SVK</option>
        </select>
      </label>
      <ul class="menuCategories mb-0" role="tablist">
        <li>
          <button
            name="category"
            value="all"
            class="active"
            role="tab"
            aria-selected="true"
          >
            All
          </button>
        </li>
        <li>
          <button name="category" value="1" role="tab">Goalkeepers</button>
        </li>
        <li>
          <button name="category" value="2" role="tab">Outfield Players</button>
        </li>
        <li>
          <button name="category" value="3" role="tab">Defenders</button>
        </li>
        <li>
          <button name="category" value="4" role="tab">Forwards</button>
        </li>
        <li>
          <button name="category" value="5" role="tab">Staff</button>
        </li>
      </ul>
    </form>

    <h2 class="h3 players-section__state">
      <span><img src="images/ico/canada.svg" alt="flag" /></span>Kanada
    </h2>
    <div class="statistics-section__inner">
      <div class="o-content">
        <table style="table-layout: fixed">
          <colgroup>
            <col style="width: 50px" />
            <col style="width: 50px" />
            <col />

            <col style="width: 50px" />
            <col style="width: 50px" />
          </colgroup>
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th></th>
              <th class="avatar fw-semibold text-left">Goalkeepers</th>
              <th class="fw-semibold">Age</th>
              <th class="fw-semibold">Stick</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/fame-item.png" alt="" />
                </div>
              </td>
              <td class="text-left">
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>P</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/fame-item.png" alt="" />
                </div>
              </td>
              <td class="text-left">
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>L</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/fame-item.png" alt="" />
                </div>
              </td>
              <td class="text-left">
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>P</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="statistics-section__inner">
      <div class="o-content">
        <table style="table-layout: fixed">
          <colgroup>
            <col style="width: 50px" />
            <col style="width: 50px" />
            <col />

            <col style="width: 50px" />
            <col style="width: 50px" />
          </colgroup>
          <thead>
            <tr>
              <th class="text-center fw-semibold">#</th>
              <th></th>
              <th class="avatar fw-semibold">Defenders</th>
              <th class="fw-semibold">Age</th>
              <th class="fw-semibold">Stick</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/fame-item.png" alt="" />
                </div>
              </td>
              <td class="text-left">
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>P</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/fame-item.png" alt="" />
                </div>
              </td>
              <td class="text-left">
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>P</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/fame-item.png" alt="" />
                </div>
              </td>
              <td class="text-left">
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>P</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="statistics-section__inner">
      <div class="o-content">
        <table style="table-layout: fixed">
          <colgroup>
            <col style="width: 50px" />
            <col style="width: 50px" />
            <col />

            <col style="width: 50px" />
            <col style="width: 50px" />
          </colgroup>
          <thead>
            <tr>
              <th class="text-center fw-semibold">#</th>
              <th></th>
              <th class="avatar fw-semibold">Forwards</th>
              <th class="fw-semibold">Age</th>
              <th class="fw-semibold">Stick</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/fame-item.png" alt="" />
                </div>
              </td>
              <td class="text-left">
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>L</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/fame-item.png" alt="" />
                </div>
              </td>
              <td class="text-left">
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>L</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/fame-item.png" alt="" />
                </div>
              </td>
              <td class="text-left">
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>P</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div class="statistics-section__inner">
      <div class="o-content">
        <table>
          <thead>
            <tr>
              <th class="text-center fw-semibold">#</th>
              <th></th>
              <th class="avatar fw-semibold">Outfield Players</th>

              <th class="fw-semibold">Age</th>
              <th class="fw-semibold">Stick</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/fame-item.png" alt="" />
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>P</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/fame-item.png" alt="" />
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>P</td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td>
                <div class="avatar">
                  <img src="images/content/fame-item.png" alt="" />
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#"
                  >Karel Skočdopole</a
                >
              </td>
              <td>22</td>
              <td>P</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
    <div class="statistics-section__inner">
      <div class="o-content">
        <table>
          <thead>
            <tr>
              <th class="text-center"></th>
              <th></th>
              <th
                class="avatar fw-semibold text-left"
                style="
                  text-decoration: none !important;
                  pointer-events: none !important;
                "
              >
                Coaching Staff
              </th>
              <th class="fw-semibold">Position</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td class="text-left">
                <a class="fw-semibold">Paul Kastes</a>
              </td>
              <td style="text-align: left !important">Coach</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="text-left">
                <a class="fw-semibold">Jagpal SandhuSandhu Sandhu</a>
              </td>
              <td style="text-align: left !important">Assistant Coach</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="text-left">
                <a class="fw-semibold">Connor Navrot</a>
              </td>
              <td style="text-align: left !important">Assistant Coach</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
