<a href="#" data-bs-toggle="modal" data-bs-target="#fameModal" class="fameItem">
  <img
    class="w-100 h-100 object-fit-cover"
    srcset="
      images/content/fame-item.png 604w,
      images/content/fame-item.png 302w
    "
    sizes="
             (min-width: 302px) 302w
           "
    width="302"
    height="288"
    alt=""
  />
  <div class="fameItem__content">
    <div class="fameItem__category text-sm">Builder</div>

    <div class="">
      <h2 class="h2 text-white mb-1">Jonáš Meduna</h2>
      <ul class="tags text-gray-200 text-sm">
        <li>
          <img srcset="images/content/cz.png" width="32" height="32" alt="" />
        </li>
        <li>Year of induction: 2025</li>
      </ul>
    </div>
  </div>
  <div class="fameItem__hover">
    <img
      srcset="images/content/arrow-right.png"
      width="12"
      height="18"
      alt=""
    />
  </div>
</a>
