<section class="mb-lg-10 pt-lg-16 pt-10">
  <div class="container">
    <h5 class="h1 titleDecore mb-2 text-light">ISBHF PARTNERS</h5>

    <div class="swiper partnersSlider">
      <ul role="list" class="swiper-wrapper infinite-scroll-swiper">
        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/p-1.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/p-2.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/p-3.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/p-4.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/p-5.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/p-1.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/p-2.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/p-3.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/p-4.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="partnersSlider__link">
            <img
              src="images/content/p-5.png"
              width="190"
              height="88"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
