<section class="partnersSlider mb-10">
  <div class="container">
    <h5 class="h1 titleDecore mb-2 text-light">ISBHF PARTNERS</h5>
    <ul class="partnersSlider__inner">
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/p-1.png"
            width="190"
            height="88"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/p-2.png"
            width="190"
            height="88"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/p-3.png"
            width="190"
            height="88"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/p-4.png"
            width="190"
            height="88"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/p-5.png"
            width="190"
            height="88"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/p-1.png"
            width="190"
            height="88"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/p-2.png"
            width="190"
            height="88"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/p-3.png"
            width="190"
            height="88"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/p-4.png"
            width="190"
            height="88"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/p-5.png"
            width="190"
            height="88"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
