<div class="player-section">
  <div class="container">
    <div class="player-section__inner">
      <div class="d-flex gap-lg-40 align-items-end flex-wrap">
        <div class="player-section__img">
          <img src="images/content/player-detail.png" alt="" />
        </div>
        <h1 class="player-section__title">
          Jonas
          <div class="text-uppercase titleDecore pe-3">meduna</div>
        </h1>
      </div>

      <ul class="player-section__info">
        <li>
          <span>Goalkeeper</span>
          Position
        </li>
        <li>
          <span>Armenia</span>
          Team
        </li>
        <li>
          <span>30/08/1990 </span>
          Date of Birth
        </li>
      </ul>
    </div>
  </div>
</div>
