<div class="swiper calendarSlider">
  <button class="swiper-btn prev" aria-label="Previous">
    {% include "@images/chevron-down.svg" %}
  </button>

  <ul role="list" class="swiper-wrapper infinite-scroll-swiper"></ul>

  <button class="swiper-btn next" aria-label="Next">
    {% include "@images/chevron-down.svg" %}
  </button>
</div>
