.matchesLive {
  padding-top: 40px;
  border-radius: 24px 24px 0 0;
  margin-top: -20px;
  background-color: var(--color-light);
  padding-bottom: 24px;

  @include media-breakpoint-down(lg) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &__inner {
    margin: 0 -12px;
    display: flex;
    li {
      padding: 0 12px;
    }
  }
  .slick-slide li,
  .slick-slide > div {
    height: 100%;
  }
  .slick-track {
    display: flex;
    align-self: stretch;
    height: 100%;
  }
  .matchItem__head {
    min-height: 55px;
  }
}

.matchesLive__btn {
  position: absolute;
  width: 48px;
  border: none;
  cursor: pointer;
  height: 48px;
  padding: 0;
  margin: 0;
  outline: none;
  background-color: var(--color-accent);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  z-index: 3;
  @media (max-width: 1440px) {
    width: 40px;
    height: 40px;
  }
  img {
    width: 16px;
    height: 24px;
    object-fit: contain;
    @media (max-width: 1440px) {
      width: 12px;
      height: 20px;
    }
  }
}
.matchesLive__btnnext {
  right: -56px;
  @media (max-width: 1440px) {
    right: -4px;
  }
}
.matchesLive__btnprev {
  left: -56px;
  @media (max-width: 1440px) {
    left: -4px;
  }
}

.matchesLive__btn.slick-disabled {
  background-color: var(--color-accent-3);
}
