<article class="newsItem">
  <a href="#" class="newsItem__img">
    <img
      srcset="
        https://picsum.photos/600/440 600w,
        https://picsum.photos/302/220 302w
      "
      width="302"
      height="220"
      loading="lazy"
      alt="post"
    />
  </a>
  <div class="newsItem__content">
    <ul class="tags text-primary text-sm mb-12">
      <li>
        <img
          src="images/ico/isbhf-world.svg"
          width="20"
          height="20"
          class="object-fit-contain"
          alt=""
        />
        News
      </li>
      <li>November 17, 2024</li>
    </ul>
    <h2 class="text-lg fw-medium mb-2">
      2024 ISBHF Men’s World Championsip – Recap
    </h2>
    <p class="mb-12 text-primary">
      Following the official bid, Bermuda has been approved as the host of the
      Masters World Championship during the November ISBHF 2024 Semi-Annual
      Conference.
    </p>
    <a href="#" class="btn btn-stroke">
      More {% include "@images/chevron-right.svg" %}</a
    >
  </div>
</article>
