<section class="article-section">
  <div class="container">
    <div class="row g-4">
      <div class="col-xl-9">
        <figure class="topstoryMain">
          <img
            srcset="
              https://picsum.photos/954/576 954w,
              https://picsum.photos/600/336 600w
            "
            sizes="
             (min-width: 954px) 954w
           "
            width="954"
            height="576"
            alt=""
          />
          <div class="topstoryMain__content">
            <ul class="tags text-gray-200 mb-md-4 mb-3">
              <li>
                <img
                  src="images/ico/isbhf-world.svg"
                  width="20"
                  height="20"
                  class="object-fit-contain"
                  alt=""
                />
                News
              </li>
              <li>November 17, 2024</li>
              <li>Carol News</li>
            </ul>
            <h1 class="h1 text-light">
              Velký rozhovor s Martinem Komárkem: O povedené organizaci i
              pozitivech pro český hokejbal
            </h1>
          </div>
        </figure>
        <div class="mt-56"></div>
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <div class="article-section__tourneys">
              <a href="#" class="article-section__tourney">
                <img
                  srcset="images/content/event-3.png 32w"
                  class="object-fit-contain"
                  width="32"
                  height="32"
                  loading="lazy"
                  alt="logo"
                />
                2025 U23 Men's World Championship

                <img
                  src="images/ico/arrow-up-b.svg"
                  width="14"
                  height="14"
                  class="object-fit-contain d-block"
                  alt=""
                />
              </a>
              <a href="#" class="article-section__tourney">
                <img
                  srcset="images/content/event-3.png 32w"
                  class="object-fit-contain"
                  width="32"
                  height="32"
                  loading="lazy"
                  alt="logo"
                />
                2025 U16 Men's World Championship

                <img
                  src="images/ico/arrow-up-b.svg"
                  width="14"
                  height="14"
                  class="object-fit-contain d-block"
                  alt=""
                />
              </a>
              <a href="#" class="article-section__tourney">
                <img
                  srcset="images/content/event-3.png 32w"
                  class="object-fit-contain"
                  width="32"
                  height="32"
                  loading="lazy"
                  alt="logo"
                />
                2025 U11 Men's World Championship

                <img
                  src="images/ico/arrow-up-b.svg"
                  width="14"
                  height="14"
                  class="object-fit-contain d-block"
                  alt=""
                />
              </a>
            </div>
            <div class="o-content">
              <div class="perex mb-56">
                Martin Komárek stál v čele organizačního výboru světového
                šampionátu v Liberci. Ze strany ISBHF na české dobrovolníky a
                organizátory byla slyšet jen slova chvály. Co za dalším
                perfektně zorganizovaným turnajem stojí?
                <br />
                V čem byl turnaj povedeným a co by naopak předseda
                Českomoravského svazu hokejbalu zlepšil? Šéf pořádající federace
                promluvil i o autonomních kamerách nebo přínosu turnaje pro
                tuzemské hnutí. 
              </div>

              <h3>
                Osm dní plné stresu. Jak jste unaven, kolik jste toho naspal?
              </h3>
              <p>
                Hokej, to nie je len obľúbený zimný šport, ale aj zábavný a
                adrenalinom nabitý zážitok pre hráčov aj fanúšikov. Na ľade sa
                odohrávajú nielen rýchle a taktické zápasy, ale tiež sa tu
                premieta sila tímovej spolupráce a individuálnej brilancie. Hoci
                hokej má svoje korene v ďalekej minulosti, stále si udržiava
                svoju jedinečnú príťažlivosť a popularitu.
              </p>
              <div class="text-sm text-accent mb-20 mt-56">Historie</div>
              <h3>Hráčska brilancia a vášeň pre hokej</h3>
              <ul>
                <li>Na výsadbu tak půjde jeden milion korun</li>
                <li>Na výsadbu tak půjde</li>
                <li>Na výsadbu tak půjde jeden milion korun</li>
                <li>Na výsadbu tak půjde</li>
                <li>Na výsadbu tak půjde jeden milion korun</li>
                <li>Na výsadbu tak půjde</li>
              </ul>
              <div class="text-sm text-accent mb-20 mt-56">Hráči</div>
              <h3>Hráčska brilancia a vášeň pre hokej</h3>
              <p>
                Hokej sa môže pyšniť hviezdami, ktoré svojou brilanciou a
                zručnosťami dokážu ohromiť nielen fanúšikov, ale aj odborníkov.
                Spôsob, akým hráči dokážu ovládať puk, vykonávať rôzne finty a
                strieľať presné strely, je fascinujúci. Každý hráč má svoj
                jedinečný štýl a prístup k hre, čo hokej činí taký rozmanitý a
                neustále sa vyvíjajúci.
              </p>
              <p>
                Hokejoví fanúšikovia sú srdcervúcou súčasťou tejto hry. Ich
                vášeň, podpora a oddanosť tímu sú nezabudnuteľné. Hráči na ľade
                cítia energiu fanúšikov a tá im dodáva silu a motiváciu vydať zo
                seba maximum. Atmosféra na štadiónoch je nákazlivá a dodáva hre
                špeciálnu čar.
              </p>
              <img
                srcset="
                  https://picsum.photos/1472/1178 1472w,
                  https://picsum.photos/736/489    736w
                "
                sizes="
               (min-width: 736) 736w
            
             "
                class="mb-56 mt-56 rounded-3 mx-auto object-fit-contain"
                width="736"
                height="auto"
                alt=""
              />
              <div class="text-sm text-accent mb-20 mt-56">Hráči</div>
              <h3>Hráčska brilancia a vášeň pre hokej</h3>
              <p>
                Hokej sa môže pyšniť hviezdami, ktoré svojou brilanciou a
                zručnosťami dokážu ohromiť nielen fanúšikov, ale aj odborníkov.
                Spôsob, akým hráči dokážu ovládať puk, vykonávať rôzne finty a
                strieľať presné strely, je fascinujúci. Každý hráč má svoj
                jedinečný štýl a prístup k hre, čo hokej činí taký rozmanitý a
                neustále sa vyvíjajúci.
              </p>
              <p>
                Hokejoví fanúšikovia sú srdcervúcou súčasťou tejto hry. Ich
                vášeň, podpora a oddanosť tímu sú nezabudnuteľné. Hráči na ľade
                cítia energiu fanúšikov a tá im dodáva silu a motiváciu vydať zo
                seba maximum. Atmosféra na štadiónoch je nákazlivá a dodáva hre
                špeciálnu čar.
              </p>
            </div>
            <div class="row g-4 mt-56">
              <div class="col-sm-6">
                <a
                  href="#"
                  class="albumItem"
                  data-source="/ISBHF/build/ajax-gallery.json"
                  data-gallery-id="1"
                >
                  <img
                    srcset="
                      https://picsum.photos/400/600 400w,
                      https://picsum.photos/200/400 200w
                    "
                    sizes="
             (min-width: 193px) 193px
           "
                    width="200"
                    height="400"
                    alt=""
                  />
                </a>
              </div>
              <div class="col-sm-6">
                <a
                  href="#"
                  class="albumItem"
                  data-source="/ISBHF/build/ajax-gallery.json"
                  data-gallery-id="1"
                >
                  <img
                    srcset="
                      https://picsum.photos/400/600 400w,
                      https://picsum.photos/200/400 200w
                    "
                    sizes="
         (min-width: 193px) 193px
       "
                    width="200"
                    height="400"
                    alt=""
                  />
                </a>
              </div>
              <div class="col-sm-6">
                <a
                  href="#"
                  class="albumItem"
                  data-source="/ISBHF/build/ajax-gallery.json"
                  data-gallery-id="1"
                >
                  <img
                    srcset="
                      https://picsum.photos/400/600 400w,
                      https://picsum.photos/200/400 200w
                    "
                    sizes="
         (min-width: 193px) 193px
       "
                    width="200"
                    height="400"
                    alt=""
                  />
                </a>
              </div>
              <div class="col-sm-6">
                <a
                  href="#"
                  class="albumItem"
                  data-source="/ISBHF/build/ajax-gallery.json"
                  data-gallery-id="1"
                >
                  <img
                    srcset="
                      https://picsum.photos/400/600 400w,
                      https://picsum.photos/200/400 200w
                    "
                    sizes="
         (min-width: 193px) 193px
       "
                    width="200"
                    height="400"
                    alt=""
                  />
                  <div class="albumItem__count"><span>32</span> More</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <aside class="aside">
          <div class="mb-4">
            <a href="#" class="aside__post">
              <div class="aside__post-content">
                <ul class="tags text-gray-200 mb-12">
                  <li>
                    <img
                      src="images/ico/isbhf-world.svg"
                      width="20"
                      height="20"
                      class="object-fit-contain"
                      alt=""
                    />
                    News
                  </li>
                  <li>November 17, 2024</li>
                </ul>
                <h3 class="text-lg text-light fw-semibold">
                  2024 ISBHF Men’s World Championsip – Recap
                </h3>
              </div>
              <img
                srcset="
                  https://picsum.photos/604/400 604w,
                  https://picsum.photos/302/200 302w
                "
                sizes="
               (min-width: 302px) 302px
             "
                width="302"
                height="200"
                alt=""
              />
            </a>
          </div>
          <div class="mb-4">
            <a href="#" class="aside__post">
              <div class="aside__post-content">
                <ul class="tags text-gray-200 mb-12">
                  <li>
                    <img
                      src="images/ico/isbhf-world.svg"
                      width="20"
                      height="20"
                      class="object-fit-contain"
                      alt=""
                    />
                    News
                  </li>
                  <li>November 17, 2024</li>
                </ul>
                <h3 class="text-lg text-light fw-semibold">
                  2024 ISBHF Men’s World Championsip – Recap
                </h3>
              </div>
              <img
                srcset="
                  https://picsum.photos/604/400 604w,
                  https://picsum.photos/302/200 302w
                "
                sizes="
               (min-width: 302px) 302px
             "
                width="302"
                height="200"
                alt=""
              />
            </a>
          </div>
          <div class="mb-4">
            <a href="#" class="aside__post">
              <div class="aside__post-content">
                <ul class="tags text-gray-200 mb-12">
                  <li>
                    <img
                      src="images/ico/isbhf-world.svg"
                      width="20"
                      height="20"
                      class="object-fit-contain"
                      alt=""
                    />
                    News
                  </li>
                  <li>November 17, 2024</li>
                </ul>
                <h3 class="text-lg text-light fw-semibold">
                  2024 ISBHF Men’s World Championsip – Recap
                </h3>
              </div>
              <img
                srcset="
                  https://picsum.photos/604/400 604w,
                  https://picsum.photos/302/200 302w
                "
                sizes="
               (min-width: 302px) 302px
             "
                width="302"
                height="200"
                alt=""
              />
            </a>
          </div>
          <a href="#" target="_blank" class="aside__ban">
            <img src="images/content/aside-ban.png" loading="lazy" alt="app" />
          </a>
        </aside>
      </div>
    </div>
  </div>
</section>
