.article-section {
  padding-top: 28px;
  background-color: var(--color-light);
  padding-bottom: 80px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 60px;
  }
  .topstoryMain {
    margin-bottom: 48px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 32px;
    }
    &::before {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    img {
      @include media-breakpoint-down(md) {
        border-radius: 1rem;
        aspect-ratio: 260 / 200;
      }
    }
    .tags {
      @include media-breakpoint-down(md) {
        color: var(--color-blue-600) !important;
      }
    }
    .tags.text-gray-200 li + li:before {
      @include media-breakpoint-down(md) {
        background: rgba(15, 26, 32, 0.2);
        opacity: 1;
      }
    }
  }

  .topstoryMain__content {
    @include media-breakpoint-down(md) {
      position: relative;
      top: 0;
      margin-top: 1.25rem;
      padding: 0;
      bottom: auto;
    }
    .h1 {
      @include media-breakpoint-down(md) {
        color: var(--color-dark) !important;
      }
    }
  }
  &__tourneys {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 40px;
    .article-section__tourney {
      margin-bottom: 0;
      max-width: calc(50% - 12px);
      @include media-breakpoint-down(md) {
        max-width: 100%;
      }
    }
  }
  &__tourney {
    margin-bottom: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: flex-end;
    font-weight: 500;
    text-decoration-color: transparent;
    background-color: var(--color-white);
    padding: 12px 16px;
    width: fit-content;

    &:hover {
      text-decoration-color: inherit;
    }

    svg path {
      fill: var(--color-dark);
    }
  }
}

.topstoryMain {
  border-radius: 16px;
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    position: absolute;
    padding: 0 32px;
    bottom: 32px;
    z-index: 2;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 2;
    top: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(180deg, rgba(0, 120, 197, 0) 40.5%, #003a5f 100%);
  }
}
