<div class="contactItem">
  <div class="d-flex mb-12 gap-3 flex-wrap">
    <div class="contactItem__ava">
      <img
        alt="cz"
        src="images/content/player2.png"
        sizes="
        (min-width: 64px) 64w
      "
        width="64"
        height="64"
      />
    </div>
    <h5 class="h2 text-blue-700">Jonáš Meduna</h5>
  </div>
  <div class="text-sm text-gray-600 mb-12">
    Českomoravský svaz hokejbalu (ČMSHb)
  </div>
  <p class="text-sm text-gray-600 mb-12">
    Following the official bid, Bermuda has been approved as the host of the
    Masters World Championship during the November ISBHF 2024 Semi-Annual
    Conference.
  </p>
  <p class="text-sm text-blue-700 d-flex gap-2 align-items-center mb-2">
    <a href="mailto:brezina@cmshb.net">
      <img
        src="images/ico/mail.svg"
        width="24"
        height="24"
        class="object-fit-contain"
        alt=""
      />
      brezina@cmshb.net
    </a>
  </p>
  <p class="text-sm text-blue-700 d-flex gap-2 align-items-center">
    <a href="tel:+420758555555">
      <img
        src="images/ico/tel.svg"
        width="24"
        height="24"
        class="object-fit-contain"
        alt=""
      />
      +420 758 555 555
    </a>
  </p>
</div>
