<div class="memberItem">
  <div class="memberItem__flag">
    <img
      alt="cz"
      src="images/content/cz.png"
      sizes="
     (min-width: 24px) 24w
   "
      width="24"
      height="24"
      
    />
  </div>
  <h2 class="h1 mb-12 text-blue-700">British Virgin Islands</h2>
  <div class="text-sm text-gray-600 mb-2">
    Českomoravský svaz hokejbalu (ČMSHb)
  </div>
  <a
    class="text-sm d-block text-blue-700 mb-2"
    href=" https://www.hokejbal.cz/"
    target="_blank"
    >www.hokejbal.cz</a
  >
  <ul class="text-sm text-blue-700 d-flex flex-column gap-2">
    <li class="d-flex gap-2 align-items-center">
      <span class="text-gray-600">Representative: </span> T. Březina
    </li>
    <li class="d-flex gap-2 align-items-center">
      <span class="text-gray-600">E-mail: </span>
      <a href="mailto:brezina@cmshb.net">brezina@cmshb.net</a>
    </li>
  </ul>
</div>
