<section class="statistics-section teamStatistics-section">
  <div class="container">
    <h2 class="h1 mb-4">Team Statistics</h2>

    <div class="statistics-section__inner">
      <div class="o-content">
        <table>
          <thead>
            <tr>
              <th class="text-center fw-semibold statsCol-rank">#</th>
              <th class="statsCol-avatar"></th>
              <th class="fw-semibold statsCol-name">State</th>
              <th class="text-center fw-semibold statsCol-w">W</th>
              <th class="text-center fw-semibold statsCol-l">L</th>
              <th class="text-center fw-semibold statsCol-gf">GF</th>
              <th class="text-center fw-semibold statsCol-ga">GA</th>
              <th class="text-center fw-bold statsCol-ppPercent">PP%</th>
              <th class="text-center fw-semibold statsCol-pkPercent">PK%</th>
              <th class="text-center fw-semibold statsCol-pp">PP</th>
              <th class="text-center fw-semibold statsCol-pk">PK</th>
              <th class="text-center fw-semibold statsCol-pim">PIM</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="rank-cell"><strong>31</strong></td>
              <td>
                <div class="avatar">
                  <img src=" images/content/canada.png" alt="" />
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Canada</a>
              </td>
              <td class="text-center">13</td>
              <td>5</td>
              <td>22</td>
              <td>0</td>
              <td>0</td>
              <td>55</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td class="rank-cell"><strong>31</strong></td>
              <td>
                <div class="avatar">
                  <img src=" images/ico/cz.svg" alt="" />
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Czech</a>
              </td>
              <td class="text-center">13</td>
              <td>5</td>
              <td>22</td>
              <td>0</td>
              <td>0</td>
              <td>55</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td class="rank-cell"><strong>31</strong></td>
              <td>
                <div class="avatar">
                  <img src=" images/ico/de.svg" alt="" />
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Germany</a>
              </td>
              <td class="text-center">13</td>
              <td>41</td>
              <td>13</td>
              <td>4</td>
              <td>3</td>
              <td>33</td>
              <td>2</td>
              <td>1</td>
              <td>7</td>
            </tr>
            <tr>
              <td class="rank-cell"><strong>31</strong></td>
              <td>
                <div class="avatar">
                  <img src=" images/ico/de.svg" alt="" />
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Germany</a>
              </td>
              <td class="text-center">13</td>
              <td>351</td>
              <td>13</td>
              <td>4</td>
              <td>3</td>
              <td>33</td>
              <td>2</td>
              <td>1</td>
              <td>7</td>
            </tr>
            <tr>
              <td class="rank-cell"><strong>31</strong></td>
              <td>
                <div class="avatar">
                  <img src=" images/content/canada.png" alt="" />
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Canada</a>
              </td>
              <td class="text-center">133</td>
              <td>15</td>
              <td>22</td>
              <td>0</td>
              <td>0</td>
              <td>55</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td class="rank-cell"><strong>31</strong></td>
              <td>
                <div class="avatar">
                  <img src=" images/ico/de.svg" alt="" />
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Germany</a>
              </td>
              <td class="text-center">213</td>
              <td>51</td>
              <td>13</td>
              <td>4</td>
              <td>3</td>
              <td>33</td>
              <td>2</td>
              <td>1</td>
              <td>7</td>
            </tr>
            <tr>
              <td class="rank-cell"><strong>31</strong></td>
              <td>
                <div class="avatar">
                  <img src=" images/content/canada.png" alt="" />
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Canada</a>
              </td>
              <td class="text-center">13</td>
              <td>5</td>
              <td>22</td>
              <td>0</td>
              <td>0</td>
              <td>55</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td class="rank-cell"><strong>31</strong></td>
              <td>
                <div class="avatar">
                  <img src=" images/ico/de.svg" alt="" />
                </div>
              </td>
              <td>
                <a class="text-primary fw-semibold" href="#">Germany</a>
              </td>
              <td class="text-center">1223</td>
              <td>51</td>
              <td>13</td>
              <td>4</td>
              <td>3</td>
              <td>33</td>
              <td>2</td>
              <td>1</td>
              <td>7</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
