.bg-registration {
  position: relative;
  background-image: url("../images/content/bg-registration.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.registration__social {
  background: var(--color-blue-600);
  transition: background 0.25s ease;
  border-radius: 8px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--color-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    background: var(--color-blue-500);
  }
}

.registration__divider {
  margin: 24px auto;
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;

  &::before,
  &::after {
    content: "";
    flex: 1;
    height: 1px;
    background: rgba(124, 176, 219, 0.32);
  }

  span {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 16px;
    color: var(--color-gray-300);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}
