.tags {
  display: flex;
  align-items: center;
  svg {
    width: 20px;
    height: 20px;
  }
  li {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
  }
  li + li {
    padding-left: 9px;
    margin-left: 8px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 1px;
      height: 12px;
      background: rgba(#0f1a20, 0.2);
    }
  }
}

.tags.text-gray-200 {
  backdrop-filter: blur(16px);
  background: rgba(#fff, 0.05);
  padding: 6px 10px;
  border-radius: 4px;
  width: fit-content;
  li + li {
    &::before {
      background: var(--color-light);
      opacity: 0.2;
    }
  }
}
