.titleDecore {
  position: relative;
  padding-right: 8px;
  display: inline-block;
  @include media-breakpoint-down(md) {
  }
  &::after {
    content: ".";
    color: var(--color-accent);
    margin-left: 0.15em;
  }
}
