<div
  class="modal fade fameModal"
  id="fameModal"
  tabindex="-1"
  aria-labelledby="fameModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <img src="images/ico/close.svg" alt="x" />
      </button>
      <div class="modal-body">
        <div class="fameModal__header">
          <div class="fameModal__ava">
            <img
              class="object-fit-cover"
              srcset="images/content/fame-item.png 88w"
              sizes="
                        (min-width: 88px) 88w
                      "
              width="88"
              height="88"
              alt=""
            />
          </div>
          <div class="">
            <h5 class="h2 mb-2">Jonáš Meduna</h5>
            <ul class="tags text-primary text-sm">
              <li>
                <div class="fameItem__category text-sm">Builder</div>
              </li>
              <li>
                <img
                  srcset="images/content/cz.png"
                  width="16"
                  height="16"
                  alt=""
                />
                20. 4. 1990
              </li>
              <li>Goalkeeper</li>
            </ul>
          </div>
        </div>
        <div class="o-content">
          <p>
            <span style="background-color: initial"
              >In this history of our great sport, few goaltenders have achieved
              the level of success that Daniel Medeiros has achieved. Shown
              below are just some of his international highlights. When asked to
              describe Mr. Medeiros in an interview in 2013, his teammates
              answered “clutch, leader, unflappable.” Those attributes led
              Daniel to accumulate many accolades over his long career,
              accolades that are unmatched by any other Canadian
              goaltender.</span
            >
          </p>

          <ul>
            <li>1998 – Starting goaltender for Team Canada – Bronze Medal.</li>
            <li>
              2005 to 2017 – played in 7 consecutive World Championships with
              Portugal. Reached the Quarter-Final in every tournament – reached
              the Semi Final twice 2005, 2013.
            </li>
            <li>
              In 2005, Portugal started in B Pool but defeated the host team USA
              in a crossover game to be promoted to A Pool. They then defeated
              the Czech Republic in Quarter-Final, which was the first time
              first time Czechs did not medal in a world championship. Daniel
              was named Outstanding player in the game. In an interview with
              Hokejbal.cz after the tournament, the Czech General Manager stated
              that Daniel Medeiros had no business winning that game for
              Portugal, and he is still in shock at the number of amazing saves
              Daniel made in a single game.
            </li>
            <li>
              Named Tournament World All-Star Goaltender in 2013 St. John’s,
              Newfoundland and 2015 Zug, Switzerland. He led Portugal into the
              Medal rounds by defeating Team USA 5-3 in the Round Robin to win
              the B Division of the Men’s A Pool. Portugal was outshot 37-17.
              Said USA Assistant Coach Mike DeFazio after the game “Maybe the
              best goaltending performance I’ve seen in a Worlds game where a
              team was literally outshot 2-1.” In this same tournament, he also
              led Portugal to a 1-0 victory over the Czech Republic, the only
              time they were shutout. At the 4:00 mark of this video (<a
                href="https://www.youtube.com/watch?v=ll0Qd-OIEU8"
                >click here to watch</a
              >), you can see highlights and hear from one of the Czech players
              about how well Daniel played.
            </li>
            <li>2014 – Silver Medal World Masters – Team Canada Wolfpak.</li>
            <li>2016 – Gold Medal World Masters – Team Canada Wolfpak.</li>
            <li>2018 – Gold Medal World Masters – Team Canada</li>
          </ul>
          <div>
            Daniel’s career is still ongoing as he has been named to the 2024
            Team Portugal Legends, which will compete in the ISBHF first ever
            Legends Division World Championship. He also served as the General
            Manager for Men’s Team Canada in 2022, assembling a roster that led
            them to the Gold Medal in their home country in Laval, Quebec.
          </div>
          <div>
            USA Ball Hockey President Chris Banks coached the USA team which
            lost to Portugal in 2013 at the World Ball Hockey Championships.
            He’s seen Daniel in action many times over the years. When asked
            where he would rank Daniel versus his peers, Mr. Banks said “Dan is
            one of the most clutch netminders this sport has ever seen. If you
            were to ask any team General Manager or Coach who has faced him,
            they would all say the thing – I don’t want to go against him
            because he’s THAT good. Doesn’t matter who is in front of him, he
            just gives his team a chance to win every game. And to me, that’s
            probably the highest compliment you can pay any goaltender – they
            always give their team a chance to win. That’s Daniel.”
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
