<section class="match-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 col-sm-11 mx-auto">
        <ul class="menuCategories nav nav-tabs mb-40">
          <li>
            <a class=" " href="#goals" data-toggle="tab"> Goals </a>
          </li>
          <li>
            <a class="active" href="#penalties" data-toggle="tab">Penalties</a>
          </li>
          <li>
            <a class=" " href="#statsgame" data-toggle="tab">Statistics</a>
          </li>
          <li>
            <a class=" " href="#statsplayer" data-toggle="tab"
              >Player Statistics
            </a>
          </li>
          <li>
            <a href="#reportage" data-toggle="tab">Report </a>
          </li>
          <li>
            <a href="#treneri" data-toggle="tab">Coaches’ Reaction </a>
          </li>
          <li>
            <a class=" " href="#fotogalerie" data-toggle="tab">Photogallery </a>
          </li>
          <li>
            <a href="#video" data-toggle="tab">Video </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tab-content">
      <div class="tab-pane fade" id="goals">
        <div class="row">
          <div class="col-xl-9 col-lg-10 col-12 mx-auto">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="contactItem">
                  <div class="o-content">
                    <ul class="text-sm goals">
                      <li class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="fw-semibold text-accent goals-time">
                          53:30
                        </div>
                        <a href="#" class="text-primary fw-medium">
                          Jean-Philippe Moquin
                        </a>
                        <div class="text-gray-600">(Lemos, Léveillé)</div>
                      </li>
                      <li class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="fw-semibold text-accent goals-time">
                          99:78
                        </div>
                        <a href="#" class="text-primary fw-medium">
                          Jean-Philippe Moquin
                        </a>
                        <div class="text-gray-600">(Lemos, Léveillé)</div>
                      </li>
                      <li class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="fw-semibold text-accent goals-time">
                          11:30
                        </div>
                        <a href="#" class="text-primary fw-medium">
                          Neleh Vigneau Sargeant
                        </a>
                        <div class="text-gray-600">( Upshall, Karpenko )</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="contactItem">
                  <div class="o-content">
                    <ul class="text-sm goals">
                      <li class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="fw-semibold text-accent goals-time">
                          1:12
                        </div>
                        <a href="#" class="text-primary fw-medium">
                          Carol Ann Upshall
                        </a>
                        <div class="text-gray-600">(Brumm)</div>
                      </li>
                      <li class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="fw-semibold text-accent goals-time">
                          11:04
                        </div>
                        <a href="#" class="text-primary fw-medium">
                          Neleh Vigneau Sargeant
                        </a>
                        <div class="text-gray-600">(Upshall, Ryan)</div>
                      </li>
                      <li class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="fw-semibold text-accent goals-time">
                          37:27
                        </div>
                        <a href="#" class="text-primary fw-medium">
                          Carol Ann Upshall
                        </a>
                        <div class="text-gray-600">( Upshall, Karpenko )</div>
                      </li>
                      <li class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="fw-semibold text-accent goals-time">
                          37:27
                        </div>
                        <a href="#" class="text-primary fw-medium">
                          Carol Ann Upshall
                        </a>
                        <div class="text-gray-600">( Upshall, Karpenko )</div>
                      </li>
                      <li class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="fw-semibold text-accent goals-time">
                          37:27
                        </div>
                        <a href="#" class="text-primary fw-medium">
                          Carol Ann Upshall
                        </a>
                        <div class="text-gray-600">( Upshall, Karpenko )</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="contactItem text-md">
                  <div class="fw-semibold text-blue-700 mb-2">
                    Czech Republic
                  </div>
                  <p class=" ">
                    Novotný (Foršt) – Teinitzer, Geisler, Školoudík, Kastner,
                    Chramosta, Kaňák, Kamenář, Laurinc, Kovárník – Vaniš,
                    Procházka, Štěpánek, Stupka, Jágr, Kucharčík, Janeček,
                    Licek, Lhota, Čejka, Macháček, Langr
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="contactItem text-md">
                  <div class="fw-semibold text-blue-700 mb-2">Germany</div>
                  <p class=" ">
                    Neish (16. Hickton) – Howie, Luknar, Jackson, Clayton,
                    Beasley, Phillips, Karmali – Holicka, Gallagher, Bolstridge,
                    Sire, Lewis, Rae, Ray, Ch. Mohr, Bonewell, S. Mohr, Cox,
                    Paget
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="contactItem text-md">
                  <div class="fw-semibold text-blue-700 mb-2">Referees</div>
                  <p class=" ">Aerni, Bogáň</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="contactItem text-md">
                  <div class="fw-semibold text-blue-700 mb-2">
                    Number of viewers
                  </div>
                  <p class=" ">2</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane in active show" id="penalties">
        <div class="row">
          <div class="col-xl-9 col-lg-10 col-12 mx-auto">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="contactItem">
                  <div class="o-content">
                    <ul class="text-sm goals">
                      <li class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="fw-semibold text-accent goals-time">
                          100:87
                        </div>
                        <div class="contactItem__type">5</div>
                        <a href="#" class="text-primary fw-medium">
                          jméno a příjmení
                        </a>
                        <div class="text-gray-600">(Holding)</div>
                      </li>
                      <li class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="fw-semibold text-accent goals-time">
                          84:52
                        </div>
                        <div class="contactItem__type">10</div>
                        <a href="#" class="text-primary fw-medium">
                          jméno a příjmení
                        </a>
                        <div class="text-gray-600">(Holding)</div>
                      </li>
                      <li class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="fw-semibold text-accent goals-time">
                          99:22
                        </div>
                        <div class="contactItem__type">GM</div>
                        <a href="#" class="text-primary fw-medium">
                          jméno a příjmení
                        </a>
                        <div class="text-gray-600">(Holding)</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="contactItem">
                  <div class="o-content">
                    <ul class="text-sm goals">
                      <li class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="fw-semibold text-accent goals-time">
                          11:35
                        </div>
                        <div class="contactItem__type">2´</div>
                        <a href="#" class="text-primary fw-medium">
                          jméno a příjmení
                        </a>
                        <div class="text-gray-600">(Holding)</div>
                      </li>
                      <li class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="fw-semibold text-accent goals-time">
                          91:36
                        </div>
                        <div class="contactItem__type">12´</div>
                        <a href="#" class="text-primary fw-medium">
                          jméno a příjmení
                        </a>
                        <div class="text-gray-600">(Holding)</div>
                      </li>
                      <li class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="fw-semibold text-accent goals-time">
                          30:58
                        </div>
                        <div class="contactItem__type">PM</div>
                        <a href="#" class="text-primary fw-medium">
                          jméno a příjmení
                        </a>
                        <div class="text-gray-600">(Holding)</div>
                      </li>
                      <li class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="fw-semibold text-accent goals-time">
                          11:55
                        </div>
                        <div class="contactItem__type">10´</div>
                        <a href="#" class="text-primary fw-medium">
                          jméno a příjmení
                        </a>
                        <div class="text-gray-600">(Holding)</div>
                      </li>
                      <li class="d-flex gap-2 align-items-center flex-wrap">
                        <div class="fw-semibold text-accent goals-time">
                          42:71
                        </div>
                        <div class="contactItem__type">PM</div>
                        <a href="#" class="text-primary fw-medium">
                          jméno a příjmení
                        </a>
                        <div class="text-gray-600">(Holding)</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="statsgame">
        <div class="row">
          <div class="col-xl-9 col-lg-10 col-12 mx-auto">
            <div class="statsGame">
              <div class="statsGame__infoline">
                <div class="statsGame__number">21</div>
                <div class="statsGame__line">
                  <span style="width: 75%" class="statsGame__value"></span>
                </div>
              </div>
              <div class="statsGame__line-title">Shots on goal</div>
              <div class="statsGame__infoline">
                <div class="statsGame__number">4</div>
                <div class="statsGame__line">
                  <span style="width: 10%" class="statsGame__value"></span>
                </div>
              </div>
            </div>
            <div class="statsGame">
              <div class="statsGame__infoline">
                <div class="statsGame__number">3</div>
                <div class="statsGame__line">
                  <span style="width: 23%" class="statsGame__value"></span>
                </div>
              </div>
              <div class="statsGame__line-title">Penalty Minutes</div>
              <div class="statsGame__infoline">
                <div class="statsGame__number">4</div>
                <div class="statsGame__line">
                  <span style="width: 65%" class="statsGame__value"></span>
                </div>
              </div>
            </div>
            <div class="statsGame">
              <div class="statsGame__infoline">
                <div class="statsGame__number">4</div>
                <div class="statsGame__line">
                  <span style="width: 100%" class="statsGame__value"></span>
                </div>
              </div>
              <div class="statsGame__line-title">Power Play Goals</div>
              <div class="statsGame__infoline">
                <div class="statsGame__number">0</div>
                <div class="statsGame__line">
                  <span style="width: 0%" class="statsGame__value"></span>
                </div>
              </div>
            </div>
            <div class="statsGame">
              <div class="statsGame__infoline">
                <div class="statsGame__number">3</div>
                <div class="statsGame__line">
                  <span style="width: 3%" class="statsGame__value"></span>
                </div>
              </div>
              <div class="statsGame__line-title">Saves Percentage %</div>
              <div class="statsGame__infoline">
                <div class="statsGame__number">4</div>
                <div class="statsGame__line">
                  <span style="width: 4%" class="statsGame__value"></span>
                </div>
              </div>
            </div>

            <div class="row g-3">
              <div class="col-lg-6">
                <div class="contactItem text-md">
                  <div class="fw-semibold text-blue-700 mb-2">
                    Czech Republic
                  </div>
                  <p class=" ">
                    Novotný (Foršt) – Teinitzer, Geisler, Školoudík, Kastner,
                    Chramosta, Kaňák, Kamenář, Laurinc, Kovárník – Vaniš,
                    Procházka, Štěpánek, Stupka, Jágr, Kucharčík, Janeček,
                    Licek, Lhota, Čejka, Macháček, Langr
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="contactItem text-md">
                  <div class="fw-semibold text-blue-700 mb-2">Germany</div>
                  <p class=" ">
                    Neish (16. Hickton) – Howie, Luknar, Jackson, Clayton,
                    Beasley, Phillips, Karmali – Holicka, Gallagher, Bolstridge,
                    Sire, Lewis, Rae, Ray, Ch. Mohr, Bonewell, S. Mohr, Cox,
                    Paget
                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="contactItem text-md">
                  <div class="fw-semibold text-blue-700 mb-2">Referees</div>
                  <p class=" ">Aerni, Bogáň</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="contactItem text-md">
                  <div class="fw-semibold text-blue-700 mb-2">
                    Number of viewers
                  </div>
                  <p class=" ">2</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade tab-stats" id="statsplayer">
        <div class="row">
          <div class="col-xl-11 mx-auto">
            <div class="row g-3">
              <div class="col-lg-6">
                <div class="contactItem">
                  <div class="fw-semibold text-lg text-blue-700 mb-2">
                    Czech Republic
                  </div>
                  <div class="o-content">
                    <table>
                      <thead>
                        <th></th>
                        <th>Goalkeeper</th>
                        <th></th>
                        <th></th>
                        <th>SVS</th>
                        <th>SVS%</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>
                            <a href="/player/14627">Julianna Thomson</a>
                          </td>
                          <td></td>
                          <td></td>
                          <td>
                            <span> 10 </span>
                          </td>
                          <td>
                            <span> 90.91 </span>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <th></th>
                        <th>Defenseman</th>
                        <th>G</th>
                        <th>A</th>
                        <th>P</th>
                        <th>PIM</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2</td>
                          <td><a href="/player/14629">Corie Jacobson</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td><a href="/player/14643">Emily Jude</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td><a href="/player/14639">Jill Mason</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td><a href="/player/14625">Melanie Jue</a></td>
                          <td>
                            <span> 1 </span>
                          </td>
                          <td>
                            <span> 2 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>10</td>
                          <td><a href="/player/14621">Kara Brumm</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 1 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>19</td>
                          <td><a href="/player/14628">Carley Blomberg</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 1 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>27</td>
                          <td><a href="/player/14636">Heather Berzins</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 1 </span>
                          </td>
                          <td>
                            <span> 4:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>77</td>
                          <td><a href="/player/14622">Kristen Cooze</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 1 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <th></th>
                        <th>Forward</th>
                        <th>G</th>
                        <th>A</th>
                        <th>P</th>
                        <th>PIM</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>4</td>
                          <td><a href="/player/14642">Jenna Proulx</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 1 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td><a href="/player/14638">Sarah Davis</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 1 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>9</td>
                          <td>
                            <a href="/player/14630">Genevieve Bannon</a>
                          </td>
                          <td>
                            <span> 1 </span>
                          </td>
                          <td>
                            <span> 2 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 2:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>11</td>
                          <td><a href="/player/14640">Haley Ryan</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 1 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td><a href="/player/14632">Jenna Hendrikx</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>13</td>
                          <td><a href="/player/14623">Angie Cerilli</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 2:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>16</td>
                          <td><a href="/player/14633">Jenni Simpson</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 2:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>22</td>
                          <td>
                            <a href="/player/14631">Carol Ann Upshall</a>
                          </td>
                          <td>
                            <span> 4 </span>
                          </td>
                          <td>
                            <span> 3 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>24</td>
                          <td>
                            <a href="/player/14624">Elysia Desmier-Pelletier</a>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>26</td>
                          <td>
                            <a href="/player/14626">Chelsea Karpenko</a>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 3 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>47</td>
                          <td>
                            <a href="/player/14634">Neleh Vigneau Sargeant</a>
                          </td>
                          <td>
                            <span> 1 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>91</td>
                          <td><a href="/player/14641">Tawnya Guindon</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>93</td>
                          <td><a href="/player/14637">Amanda Kean</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 2:00 </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="contactItem">
                  <div class="fw-semibold text-lg text-blue-700 mb-2">
                    Germany
                  </div>
                  <div class="o-content">
                    <table>
                      <thead>
                        <th></th>
                        <th>Goalkeeper</th>
                        <th></th>
                        <th></th>
                        <th>SVS</th>
                        <th>SVS%</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>
                            <a href="/player/14627">Julianna Thomson</a>
                          </td>
                          <td></td>
                          <td></td>
                          <td>
                            <span> 10 </span>
                          </td>
                          <td>
                            <span> 90.91 </span>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <th></th>
                        <th>Defenseman</th>
                        <th>G</th>
                        <th>A</th>
                        <th>P</th>
                        <th>PIM</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2</td>
                          <td><a href="/player/14629">Corie Jacobson</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td><a href="/player/14643">Emily Jude</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td><a href="/player/14639">Jill Mason</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td><a href="/player/14625">Melanie Jue</a></td>
                          <td>
                            <span> 1 </span>
                          </td>
                          <td>
                            <span> 2 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>10</td>
                          <td><a href="/player/14621">Kara Brumm</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 1 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>19</td>
                          <td><a href="/player/14628">Carley Blomberg</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>27</td>
                          <td><a href="/player/14636">Heather Berzins</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 4:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>77</td>
                          <td><a href="/player/14622">Kristen Cooze</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <th></th>
                        <th>Forward</th>
                        <th>G</th>
                        <th>A</th>
                        <th>P</th>
                        <th>PIM</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>4</td>
                          <td><a href="/player/14642">Jenna Proulx</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>7</td>
                          <td><a href="/player/14638">Sarah Davis</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>9</td>
                          <td>
                            <a href="/player/14630">Genevieve Bannon</a>
                          </td>
                          <td>
                            <span> 1 </span>
                          </td>
                          <td>
                            <span> 2 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 2:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>11</td>
                          <td><a href="/player/14640">Haley Ryan</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 1 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td><a href="/player/14632">Jenna Hendrikx</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>13</td>
                          <td><a href="/player/14623">Angie Cerilli</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 2:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>16</td>
                          <td><a href="/player/14633">Jenni Simpson</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 2:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>22</td>
                          <td>
                            <a href="/player/14631">Carol Ann Upshall</a>
                          </td>
                          <td>
                            <span> 4 </span>
                          </td>
                          <td>
                            <span> 3 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>24</td>
                          <td>
                            <a href="/player/14624">Elysia Desmier-Pelletier</a>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>26</td>
                          <td>
                            <a href="/player/14626">Chelsea Karpenko</a>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 3 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>47</td>
                          <td>
                            <a href="/player/14634">Neleh Vigneau Sargeant</a>
                          </td>
                          <td>
                            <span> 1 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>91</td>
                          <td><a href="/player/14641">Tawnya Guindon</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>93</td>
                          <td><a href="/player/14637">Amanda Kean</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 2:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>93</td>
                          <td><a href="/player/14637">Amanda Kean</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 2:00 </span>
                          </td>
                        </tr>
                        <tr>
                          <td>93</td>
                          <td><a href="/player/14637">Amanda Kean</a></td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span style="color: silver"> 0 </span>
                          </td>
                          <td>
                            <span> 2:00 </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="reportage">
        <div class="row">
          <div class="col-lg-8 col-md-10 col-sm-11 mx-auto">
            <div class="o-content">
              <div class="perex mb-56">
                Martin Komárek stál v čele organizačního výboru světového
                šampionátu v Liberci. Ze strany ISBHF na české dobrovolníky a
                organizátory byla slyšet jen slova chvály. Co za dalším
                perfektně zorganizovaným turnajem stojí?
                <br />
                V čem byl turnaj povedeným a co by naopak předseda
                Českomoravského svazu hokejbalu zlepšil? Šéf pořádající federace
                promluvil i o autonomních kamerách nebo přínosu turnaje pro
                tuzemské hnutí. 
              </div>

              <h3>
                Osm dní plné stresu. Jak jste unaven, kolik jste toho naspal?
              </h3>
              <p>
                Hokej, to nie je len obľúbený zimný šport, ale aj zábavný a
                adrenalinom nabitý zážitok pre hráčov aj fanúšikov. Na ľade sa
                odohrávajú nielen rýchle a taktické zápasy, ale tiež sa tu
                premieta sila tímovej spolupráce a individuálnej brilancie. Hoci
                hokej má svoje korene v ďalekej minulosti, stále si udržiava
                svoju jedinečnú príťažlivosť a popularitu.
              </p>
              <div class="text-sm text-accent mb-20 mt-56">Historie</div>
              <h3>Hráčska brilancia a vášeň pre hokej</h3>
              <ul>
                <li>Na výsadbu tak půjde jeden milion korun</li>
                <li>Na výsadbu tak půjde</li>
                <li>Na výsadbu tak půjde jeden milion korun</li>
                <li>Na výsadbu tak půjde</li>
                <li>Na výsadbu tak půjde jeden milion korun</li>
                <li>Na výsadbu tak půjde</li>
              </ul>
              <div class="text-sm text-accent mb-20 mt-56">Hráči</div>
              <h3>Hráčska brilancia a vášeň pre hokej</h3>
              <p>
                Hokej sa môže pyšniť hviezdami, ktoré svojou brilanciou a
                zručnosťami dokážu ohromiť nielen fanúšikov, ale aj odborníkov.
                Spôsob, akým hráči dokážu ovládať puk, vykonávať rôzne finty a
                strieľať presné strely, je fascinujúci. Každý hráč má svoj
                jedinečný štýl a prístup k hre, čo hokej činí taký rozmanitý a
                neustále sa vyvíjajúci.
              </p>
              <p>
                Hokejoví fanúšikovia sú srdcervúcou súčasťou tejto hry. Ich
                vášeň, podpora a oddanosť tímu sú nezabudnuteľné. Hráči na ľade
                cítia energiu fanúšikov a tá im dodáva silu a motiváciu vydať zo
                seba maximum. Atmosféra na štadiónoch je nákazlivá a dodáva hre
                špeciálnu čar.
              </p>
              <img
                srcset="
                  https://picsum.photos/1472/1178 1472w,
                  https://picsum.photos/736/489    736w
                "
                sizes="
               (min-width: 736) 736w
            
             "
                class="mb-56 mt-56 rounded-3 mx-auto object-fit-contain"
                width="736"
                height="auto"
                alt=""
              />
              <div class="text-sm text-accent mb-20 mt-56">Hráči</div>
              <h3>Hráčska brilancia a vášeň pre hokej</h3>
              <p>
                Hokej sa môže pyšniť hviezdami, ktoré svojou brilanciou a
                zručnosťami dokážu ohromiť nielen fanúšikov, ale aj odborníkov.
                Spôsob, akým hráči dokážu ovládať puk, vykonávať rôzne finty a
                strieľať presné strely, je fascinujúci. Každý hráč má svoj
                jedinečný štýl a prístup k hre, čo hokej činí taký rozmanitý a
                neustále sa vyvíjajúci.
              </p>
              <p>
                Hokejoví fanúšikovia sú srdcervúcou súčasťou tejto hry. Ich
                vášeň, podpora a oddanosť tímu sú nezabudnuteľné. Hráči na ľade
                cítia energiu fanúšikov a tá im dodáva silu a motiváciu vydať zo
                seba maximum. Atmosféra na štadiónoch je nákazlivá a dodáva hre
                špeciálnu čar.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="treneri">
        <div class="row">
          <div class="col-lg-8 col-md-10 col-sm-11 mx-auto">
            <div class="o-content">
              <p>
                <strong> Jiří Mašík (CZE):</strong> "Chtěli jsme samozřejmě
                začít výhrou. Věděli jsme, že bychom Velkou Británii měli
                porazit, ale přistoupili jsme k tomu zodpovědně. Až na pár
                výjimek jsme hráli tak, jak jsme si před zápasem řekli. Soupeři
                se dost stahovali k brance, od druhé třetiny jsme z toho důvodu
                více odstupovali od brány a stříleli z voleje. Chtěli jsme si
                vyzkoušet v ostrém utkání přesilové hry, které jsme snad všechny
                proměnili. Celkově jsme se dobře naladili. Mrzí mě jen zranění
                Jana Čejky. Uvidíme, jak na tom bude. Doufám, že bude schopen
                pokračovat.“
              </p>
              <p>
                <strong>Luke Browne (GBR):</strong> "Proti úřadujícím šampiónům
                to neměl být jednoduchý zápas. Pokaždé, když hrajete proti
                Česku, víte, co čekat. Jsou velcí, jsou silní, jsou rychlí, umí
                dobře střílet. Z naší strany tam byly situace, kterým jsme mohli
                zabránit, inkasovali jsme hodně laciných gólů. Skóre 13:0 nikdy
                nevypadá hezky, ale když se podíváte na jejich góly, osm nebo
                devět z nich padlo po přihrávce zpoza branky. To je jedna věc,
                na které musíme do budoucna zapracovat. Byl jsem spokojený se
                vstupem do zápasu, přesně tak jsem si ho představoval. Máme v
                týmu spoustu zkušených kluků, kteří už hráli na juniorských nebo
                dokonce seniorských šampionátech. Bohužel pak ale začaly padat
                góly. Trochu jsme se z toho složili, ale celkově si myslím, že
                jsme ten tlak zvládli dobře."
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="video">
        <div class="row">
          <div class="col-lg-8 col-md-10 col-sm-11 mx-auto">
            <a
              data-bs-toggle="modal"
              href="#modalVideoToggle"
              class="videoItem"
              role="button"
            >
              <img
                srcset="
                  https://picsum.photos/784/520 784w,
                  https://picsum.photos/392/490 392w
                "
                width="392"
                height="260"
                loading="lazy"
                alt="video"
              />
              <div class="videoItem__content">
                <h2 class="text-lg text-light">
                  <span>Full Match:</span> Czech Republic vs. Germany
                </h2>
              </div>
              <div class="videoItem__tourney">
                <img
                  srcset="images/content/event-3.png 32w"
                  width="40"
                  height="40"
                  loading="lazy"
                  alt="logo"
                />
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="fotogalerie">
        <div class="match-detail__photogallery">
          <div class="row g-3">
            <div class="col-lg-3 col-sm-6">
              <a
                href="https://picsum.photos/784/980"
                class="match-detail__photo"
                data-fslightbox="gallery"
              >
                <img
                  src="https://picsum.photos/784/980"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a
                href="https://picsum.photos/784/980"
                class="match-detail__photo"
                data-fslightbox="gallery"
              >
                <img
                  src="https://picsum.photos/784/980"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a
                href="https://picsum.photos/784/980"
                class="match-detail__photo"
                data-fslightbox="gallery"
              >
                <img
                  src="https://picsum.photos/784/980"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a
                href="https://picsum.photos/784/980"
                class="match-detail__photo"
                data-fslightbox="gallery"
              >
                <img
                  src="https://picsum.photos/784/980"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a
                href="https://picsum.photos/784/980"
                class="match-detail__photo"
                data-fslightbox="gallery"
              >
                <img
                  src="https://picsum.photos/784/980"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a
                href="https://picsum.photos/784/980"
                class="match-detail__photo"
                data-fslightbox="gallery"
              >
                <img
                  src="https://picsum.photos/784/980"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a
                href="https://picsum.photos/784/980"
                class="match-detail__photo"
                data-fslightbox="gallery"
              >
                <img
                  src="https://picsum.photos/784/980"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a
                href="https://picsum.photos/784/980"
                class="match-detail__photo"
                data-fslightbox="gallery"
              >
                <img
                  src="https://picsum.photos/784/980"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a
                href="https://picsum.photos/784/980"
                class="match-detail__photo"
                data-fslightbox="gallery"
              >
                <img
                  src="https://picsum.photos/784/980"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a
                href="https://picsum.photos/784/980"
                class="match-detail__photo"
                data-fslightbox="gallery"
              >
                <img
                  src="https://picsum.photos/784/980"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a
                href="https://picsum.photos/784/980"
                class="match-detail__photo"
                data-fslightbox="gallery"
              >
                <img
                  src="https://picsum.photos/784/980"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a
                href="https://picsum.photos/784/980"
                class="match-detail__photo"
                data-fslightbox="gallery"
              >
                <img
                  src="https://picsum.photos/784/980"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
