<a
  data-bs-toggle="modal"
  href="#modalVideoToggle"
  class="videoItem"
  role="button"
>
  <img
    srcset="
      https://picsum.photos/784/520 784w,
      https://picsum.photos/392/490 392w
    "
    width="392"
    height="260"
    loading="lazy"
    alt="video"
  />
  <div class="videoItem__content">
    <h2 class="text-lg text-light">
      <span>Full Match:</span> Canada vs. Greece
    </h2>
  </div>
  <div class="videoItem__tourney">
    <img
      srcset="images/content/event-3.png 32w"
      width="40"
      height="40"
      loading="lazy"
      alt="logo"
    />
  </div>
</a>

 
