<section class="table-section">
  <div class="container">
    <h2 class="h1 mb-4">Standings</h2>
    <form class="menuFilter mb-40">
      <ul class="menuCategories mb-0" role="tablist">
        <li>
          <button
            name="category"
            value="all"
            class="active"
            role="tab"
            aria-selected="true"
          >
            Group A
          </button>
        </li>
        <li>
          <button name="category" value="1" role="tab">Group B</button>
        </li>
        <li>
          <button name="category" value="2" role="tab">Group C</button>
        </li>
      </ul>
    </form>
    <div class="o-content">
      <table>
        <thead>
          <tr>
            <th class="text-center fw-semibold">#</th>
            <th></th>
            <th>
              <a class="team fw-semibold"> Group A </a>
            </th>

            <th class="fw-semibold">GP</th>
            <th class="fw-semibold">W</th>
            <th class="fw-semibold">OTW</th>
            <th class="fw-semibold">OTL</th>
            <th class="fw-semibold">L</th>
            <th class="fw-semibold">score</th>
            <th class="fw-bold">PTS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <img
                src="https://stats.isbhf.com/upload/team/logo/59_1755505329_Oberwil%20rebells%20logo.png"
                alt=""
              />
            </td>
            <td>Oberwil Rebells</td>

            <td>4</td>
            <td>4</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>15:2</td>

            <td><strong>12</strong></td>
          </tr>
          <tr>
            <td><strong>2</strong></td>
            <td>
              <img
                src="https://stats.isbhf.com/upload/team/logo/57_1755505530_Kladno%20logo%20blue.png"
                alt=""
              />
            </td>
            <td>HBC Kladno</td>

            <td>4</td>
            <td>2</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>11:9</td>

            <td><strong>7</strong></td>
          </tr>
          <tr>
            <td><strong>3</strong></td>
            <td>
              <img
                src="https://stats.isbhf.com/upload/team/logo/60_1755505282_Pelikassit%20logo.png"
                alt=""
              />
            </td>
            <td>Siivikkalan Pelikassit</td>

            <td>4</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>14:10</td>

            <td><strong>6</strong></td>
          </tr>
          <tr>
            <td><strong>4</strong></td>
            <td>
              <img
                src="https://stats.isbhf.com/upload/team/logo/58_1755505442_Nitrianski%20Rytieri%20logo%20white.png"
                alt=""
              />
            </td>
            <td>HBK Nitrianski Rytieri Nitra</td>

            <td>4</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>7:5</td>

            <td><strong>5</strong></td>
          </tr>
          <tr>
            <td><strong>5</strong></td>
            <td>
              <img
                src="https://stats.isbhf.com/upload/team/logo/11_1752659844_Great%20Britain.svg"
                alt=""
              />
            </td>
            <td>Great Britain</td>

            <td>4</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>4</td>
            <td>1:22</td>

            <td><strong>0</strong></td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th class="text-center fw-semibold">#</th>
            <th></th>
            <th>
              <a class="team fw-semibold"> Group B </a>
            </th>

            <th class="fw-semibold">GP</th>
            <th class="fw-semibold">W</th>
            <th class="fw-semibold">OTW</th>
            <th class="fw-semibold">OTL</th>
            <th class="fw-semibold">L</th>
            <th class="fw-semibold">score</th>
            <th class="fw-bold">PTS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>1</strong></td>
            <td>
              <img
                src="https://stats.isbhf.com/upload/team/logo/_1754844533_Peräpohjolan%20Poropojat%20logo.png"
                alt=""
              />
            </td>
            <td>Peräpohjolan Poropojat</td>

            <td>4</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>11:8</td>

            <td><strong>9</strong></td>
          </tr>
          <tr>
            <td><strong>2</strong></td>
            <td>
              <img
                src="https://stats.isbhf.com/upload/team/logo/56_1755505394_Hostivař%20logo.png"
                alt=""
              />
            </td>
            <td>HBC Hostivař</td>

            <td>4</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>12:6</td>

            <td><strong>9</strong></td>
          </tr>
          <tr>
            <td><strong>3</strong></td>
            <td>
              <img
                src="https://stats.isbhf.com/upload/team/logo/63_1755505601_Skalica%20logo%20green.png"
                alt=""
              />
            </td>
            <td>HBK H+H Skalica</td>

            <td>4</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>2</td>
            <td>16:8</td>

            <td><strong>6</strong></td>
          </tr>
          <tr>
            <td><strong>4</strong></td>
            <td>
              <img
                src="https://stats.isbhf.com/upload/team/logo/62_1755462488_SHC%20La%20Chaux-de-Fonds%20logo%20new.svg"
                alt=""
              />
            </td>
            <td>SHC La Chaux-de-Fonds</td>

            <td>4</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>6:17</td>

            <td><strong>3</strong></td>
          </tr>
          <tr>
            <td><strong>5</strong></td>
            <td>
              <img
                src="https://stats.isbhf.com/upload/team/logo/_1754845045_Ústí%20nad%20Labem%20logo.png"
                alt=""
              />
            </td>
            <td>Elba DDM Ústí nad Labem</td>

            <td>4</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>3</td>
            <td>10:16</td>

            <td><strong>3</strong></td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th class="text-center fw-semibold">#</th>
            <th>
              <a class="team fw-semibold" href="#"> State </a>
            </th>
            <th>
              <a href="#"> </a>
            </th>
            <th class="fw-semibold">
              <a href="#">Z</a>
            </th>
            <th class="fw-semibold">
              <a>V</a>
            </th>
            <th class="fw-semibold">
              <a href="#">VP</a>
            </th>
            <th class="fw-semibold">
              <a href="#">PP</a>
            </th>
            <th class="fw-semibold">
              <a href="#">P</a>
            </th>
            <th class="fw-semibold">
              <a href="#"> Score</a>
            </th>
            <th class="fw-bold">
              <a href="#">B</a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/content/cz.png" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/content/cz.png" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/content/cz.png" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/content/cz.png" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/content/cz.png" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/content/cz.png" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/content/cz.png" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/content/cz.png" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/content/cz.png" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
          <tr>
            <td><strong>1</strong></td>
            <td><img src="images/content/cz.png" alt="" /></td>
            <td>
              <a class="fw-semibold text-primary" href="#">Czech Republic</a>
            </td>
            <td>2</td>
            <td>44</td>
            <td>22</td>
            <td>19</td>
            <td>3</td>

            <td>3,07</td>
            <td><strong>86,36 </strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
