<section class="aboutBoard">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="d-flex align-items-center gap-3">
          <img src="images/ico/ball.svg" width="36" height="36" alt="" />
          <h3 class="h1 titleDecore text-light">ABOUT ISBHF</h3>
        </div>

        <ul class="aboutBoard__row">
          <li>
            <a href="#" class="aboutBoard__item"> Street And Ball Hockey </a>
          </li>
          <li>
            <a href="#" class="aboutBoard__item"> About ISBHF </a>
          </li>
          <li>
            <a href="#" class="aboutBoard__item"> Leadership & Governance </a>
          </li>
          <li>
            <a href="#" class="aboutBoard__item"> Hall of Fame </a>
          </li>
          <li>
            <a href="#" class="aboutBoard__item"> ISBHF Regulations </a>
          </li>
          <li>
            <a href="#" class="aboutBoard__item"> ISBHF Rules </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <div class="aboutBoard__info">
          <div class="aboutBoard__title text-light">
            THE AUTHORITY <br />
            OF THE GREAT <br />
            GAME <span class="text-accent">.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
