.menuFilter {
  max-width: 954px;

  input {
    display: block;
    border-radius: 12px;
    width: 100%;
    height: 48px;
    border: 1px solid var(--color-gray-200);
    padding-left: 16px;
    padding-right: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    outline-color: var(--color-accent);
    &::placeholder {
      color: var(--color-gray-400);
    }
  }
}
