<footer class="footer">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-4">
        <a href="#" class="footer__logo">
          <img src="images/ico/footer-logo.svg" loading="lazy" alt="logo" />
        </a>

        <ul class="footer-social">
          <li>
            <a href="#" target="_blank">
              {% include "@images/facebook.svg" %}
            </a>
          </li>
          <li>
            <a href="#" target="_blank"> {% include "@images/x.svg" %} </a>
          </li>
          <li>
            <a href="#" target="_blank">
              {% include "@images/instagram.svg" %}
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              {% include "@images/youtube.svg" %}
            </a>
          </li>
          <li>
            <a href="#" target="_blank"> {% include "@images/tiktok.svg" %} </a>
          </li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 col-6">
        <h6 class="text-md text-light text-uppercase">Menu</h6>
        <ul class="footer__list">
          <li><a href="#">Events</a></li>
          <li><a href="#">Schedule</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 col-6">
        <h6 class="text-md text-light text-uppercase">Featured Events</h6>
        <ul class="footer__list">
          <li><a href="#">Ostrava 2026</a></li>
          <li><a href="#">Banska Bystrica 2026</a></li>
          <li><a href="#">Sheffield 2026</a></li>
          <li><a href="#">Bratislava 2025</a></li>
          <li><a href="#">Bermuda 2025</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 col-6">
        <h6 class="text-md text-light text-uppercase">Account</h6>
        <ul class="footer__list">
          <li><a href="#">Settings</a></li>
          <li><a href="#">Manage Access</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 col-6">
        <h6 class="text-md text-light text-uppercase">Explore</h6>
        <ul class="footer__list">
          <li><a href="#">ISBHF App</a></li>
          <li><a href="#">ISBHF Website</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom text-light text-sm">
      <ul
        class="d-flex flex-wrap gap-lg-10 gap-4 justify-content-center justify-content-lg-start"
      >
        <li><a href="#">Cookies</a></li>
        <li><a href="#">Copyright</a></li>
        <li><a href="#">Fakturační údaje</a></li>
        <li><a href="#">Přístupnost</a></li>
        <li><a href="#">Podmínky použití webu</a></li>
        <li><a href="#">Obchodní podmínky</a></li>
      </ul>

      <p>
        Vyrobeno v
        <a href="#" target="_blank">
          <img
            class="d-inline-flex align-middle mx-2 mb-1"
            src="images/ico/esports.svg"
            alt="esports"
            loading="lazy"
          />
        </a>
        v roce 2025
      </p>
    </div>
  </div>
</footer>
