<section class="infoBoard infoBoard--bermuda">
  <div class="container">
    <div class="position-relative z-1">
      <div
        class="d-flex mb-4 justify-content-between align-items-center gap-3 flex-wrap"
      >
        <div class="d-flex gap-3 align-items-center">
          <img
            srcset="images/content/ballhockey.png"
            width="64"
            height="64"
            loading="lazy"
            alt="logo"
            class="infoBoard__logo"
          />
          <h2 class="h1 titleDecore text-light">2024 WORLD CHAMPIONSHIPS</h2>
        </div>
        <a href="#" class="btn btn-red">
          Event page {% include "@images/chevron-right.svg" %}
        </a>
      </div>
      <a
        href="#"
        class="h2 d-flex gap-2 align-items-center text-light underline mb-4"
      >
        Recent results
        <img
          src="images/ico/arrow-link.svg"
          width="14"
          height="14"
          class="object-fit-contain"
          alt=""
        />
      </a>
      <ul class="matchesAfter">
        <li>
          <div class="matchItem matchItem--after">
            <ul class="matchItem__tags text-md text-dark">
              <li>Men’s</li>
              <li>Group A1</li>
            </ul>
            <div class="matchItem__inner">
              <div class="matchItem__team">
                <img
                  srcset="images/content/cz.png 60w"
                  sizes="
                 (min-width: 60px) 60px
               "
                  width="60"
                  height="60"
                  alt=""
                />
                cze
              </div>
              <div class="matchItem__result">
                <a href="#" class="bg-gray-200 h2">2:2 <span>OT</span></a>
                (2:2, 15:3, 3:20)
              </div>
              <div class="matchItem__team">
                <img
                  srcset="images/content/gb.png 60w"
                  sizes="
                  (min-width: 60px) 60px
                "
                  width="60"
                  height="60"
                  alt=""
                />
                gb
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="matchItem matchItem--after">
            <ul class="matchItem__tags text-md text-dark">
              <li>Men’s</li>
              <li>Group A1</li>
            </ul>
            <div class="matchItem__inner">
              <div class="matchItem__team">
                <img
                  srcset="images/content/cz.png 60w"
                  sizes="
                  (min-width: 60px) 60px
                "
                  width="60"
                  height="60"
                  alt=""
                />
                cze
              </div>
              <div class="matchItem__result">
                <a href="#" class="bg-gray-200 h2">2:2</a>
                (2:2, -:-, -:-)
              </div>
              <div class="matchItem__team">
                <img
                  srcset="images/content/gb.png 60w"
                  sizes="
                   (min-width: 60px) 60px
                 "
                  width="60"
                  height="60"
                  alt=""
                />
                gb
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="matchItem matchItem--after">
            <ul class="matchItem__tags text-md text-dark">
              <li>Men’s</li>
              <li>Group A1</li>
            </ul>
            <div class="matchItem__inner">
              <div class="matchItem__team">
                <img
                  srcset="images/content/cz.png 60w"
                  sizes="
                  (min-width: 60px) 60px
                "
                  width="60"
                  height="60"
                  alt=""
                />
                cze
              </div>
              <div class="matchItem__result">
                <a href="#" class="bg-gray-200 h2">2:2</a>
                (2:2, -:-, -:-)
              </div>
              <div class="matchItem__team">
                <img
                  srcset="images/content/gb.png 60w"
                  sizes="
                   (min-width: 60px) 60px
                 "
                  width="60"
                  height="60"
                  alt=""
                />
                gb
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="matchItem matchItem--after">
            <ul class="matchItem__tags text-md text-dark">
              <li>Men’s</li>
              <li>Group A1</li>
            </ul>
            <div class="matchItem__inner">
              <div class="matchItem__team">
                <img
                  srcset="images/content/cz.png 60w"
                  sizes="
                  (min-width: 60px) 60px
                "
                  width="60"
                  height="60"
                  alt=""
                />
                cze
              </div>
              <div class="matchItem__result">
                <a href="#" class="bg-gray-200 h2">2:2</a>
                (2:2, -:-, -:-)
              </div>
              <div class="matchItem__team">
                <img
                  srcset="images/content/gb.png 60w"
                  sizes="
                   (min-width: 60px) 60px
                 "
                  width="60"
                  height="60"
                  alt=""
                />
                gb
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="matchItem matchItem--after">
            <ul class="matchItem__tags text-md text-dark">
              <li>Men’s</li>
              <li>Group A1</li>
            </ul>
            <div class="matchItem__inner">
              <div class="matchItem__team">
                <img
                  srcset="images/content/cz.png 60w"
                  sizes="
                  (min-width: 60px) 60px
                "
                  width="60"
                  height="60"
                  alt=""
                />
                cze
              </div>
              <div class="matchItem__result">
                <a href="#" class="bg-gray-200 h2">2:2</a>
                (2:2, -:-, -:-)
              </div>
              <div class="matchItem__team">
                <img
                  srcset="images/content/gb.png 60w"
                  sizes="
                   (min-width: 60px) 60px
                 "
                  width="60"
                  height="60"
                  alt=""
                />
                gb
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="matchItem matchItem--after">
            <ul class="matchItem__tags text-md text-dark">
              <li>Men’s</li>
              <li>Group A1</li>
            </ul>
            <div class="matchItem__inner">
              <div class="matchItem__team">
                <img
                  srcset="images/content/cz.png 60w"
                  sizes="
                  (min-width: 60px) 60px
                "
                  width="60"
                  height="60"
                  alt=""
                />
                cze
              </div>
              <div class="matchItem__result">
                <a href="#" class="bg-gray-200 h2">2:2</a>
                (2:2, -:-, -:-)
              </div>
              <div class="matchItem__team">
                <img
                  srcset="images/content/gb.png 60w"
                  sizes="
                   (min-width: 60px) 60px
                 "
                  width="60"
                  height="60"
                  alt=""
                />
                gb
              </div>
            </div>
          </div>
        </li>
      </ul>

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button
            class="nav-link active"
            id="nav-men-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-men"
            type="button"
            role="tab"
            aria-controls="nav-men"
            aria-selected="true"
          >
            Men’s
          </button>
          <button
            class="nav-link"
            id="nav-women-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-women"
            type="button"
            role="tab"
            aria-controls="nav-women"
            aria-selected="false"
          >
            Women’s
          </button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-men"
          role="tabpanel"
          aria-labelledby="nav-men-tab"
        >
          <div class="row g-4">
            <div class="col-xxl-6 col-lg-12">
              {% include "@components/statsBox/statsBox-2.twig" %}
            </div>
            <div class="col-xxl-6 col-lg-12">
              {% include "@components/statsBox/statsBox.twig" %}
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="nav-women"
          role="tabpanel"
          aria-labelledby="nav-women-tab"
        >
          1323 232 3232
        </div>
      </div>
    </div>
  </div>
</section>
