.topstory-gradient {
  background: linear-gradient(180deg, rgba(0, 90, 142, 0.95) 0%, #003a5f 93.5%);
}
.topstory {
  padding: 16px 0 40px;
  .swiper-btn--blue {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
.topstoryItem {
  width: 100%;
  display: block;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  &__link {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 3;
  }
  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(0, 80, 126, 0) 40.37%,
      rgba(0, 73, 117, 0.4) 56.24%,
      rgba(0, 65, 105, 0.88) 96%
    );
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &:hover {
    .topstoryItem__img img {
      transform: scale(1.1);
    }
  }
  &__img {
    width: 100%;
    aspect-ratio: 1280/640;
    height: auto;
    min-height: 480px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.25s ease;
    }
  }
  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 24px;
    max-width: 57.5rem;
    align-items: flex-start;
    padding: 0 32px 32px;
    @include media-breakpoint-up(lg) {
      padding: 0 56px 56px;
      gap: 40px;
    }
    @include media-breakpoint-up(md) {
      padding: 0 64px 40px;
    }
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    .h1 {
      position: relative;
      z-index: 2;
    }
  }
  .btn {
    position: relative;
    z-index: 5;
    @include media-breakpoint-down(sm) {
      font-size: 0.875rem;
      line-height: 130%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  &__logo {
    height: auto;
    width: 100%;
    max-width: 148px;
    position: relative;
    z-index: 2;
    @include media-breakpoint-only(lg) {
      max-width: 100px;
    }
    @include media-breakpoint-down(lg) {
      max-width: 40px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
