<section class="topstory">
  <div class="container">
    <div class="swiper topstorySlider">
      <button class="swiper-btn--blue prev" aria-label="Previous">
        {% include "@images/chevron-down.svg" %}
      </button>
      <ul role="list" class="swiper-wrapper infinite-scroll-swiper">
        <li class="swiper-slide">
          <div class="topstoryItem">
            <a href="#" class="topstoryItem__link"></a>
            <picture class="topstoryItem__img">
              <source
                media="(max-width: 575px)"
                srcset="
                  https://picsum.photos/480/240 480w,
                  https://picsum.photos/640/320 640w
                "
                sizes="100vw"
              />

              <source
                media="(max-width: 991px)"
                srcset="
                  https://picsum.photos/768/384   768w,
                  https://picsum.photos/1024/512 1024w
                "
                sizes="100vw"
              />

              <source
                media="(min-width: 992px)"
                srcset="
                  https://picsum.photos/1280/640 1280w,
                  https://picsum.photos/1920/960 1920w
                "
                sizes="100vw"
              />

              <img
                src="https://picsum.photos/1280/640"
                width="1280"
                height="640"
                alt=""
                loading="eager"
                fetchpriority="high"
              />
            </picture>
            <div class="topstoryItem__content">
              <div class="topstoryItem__logo">
                <img src="images/content/event-3.png" alt="event" />
              </div>

              <div class="d-flex flex-column gap-lg-6 gap-4">
                <h1 class="h1 text-light titleDecore mb-lg-6 mb-4">
                  After nine years, the Ball Hockey World Championships returns
                  to Czechia
                </h1>
                <div class="d-flex gap-4 flex-wrap">
                  <a href="#" class="btn-primary btn text-lg fw-medium">
                    Watch now {% include "@images/chevron-right.svg" %}
                  </a>
                  <a href="#" class="btn btn-light text-lg fw-medium">
                    Pricing {% include "@images/chevron-right.svg" %}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="topstoryItem">
            <a href="#" class="topstoryItem__link"></a>
            <picture class="topstoryItem__img">
              <source
                media="(max-width: 575px)"
                srcset="
                  https://picsum.photos/480/240 480w,
                  https://picsum.photos/640/320 640w
                "
                sizes="100vw"
              />

              <source
                media="(max-width: 991px)"
                srcset="
                  https://picsum.photos/768/384   768w,
                  https://picsum.photos/1024/512 1024w
                "
                sizes="100vw"
              />

              <source
                media="(min-width: 992px)"
                srcset="
                  https://picsum.photos/1280/640 1280w,
                  https://picsum.photos/1920/960 1920w
                "
                sizes="100vw"
              />

              <img
                src="https://picsum.photos/1280/640"
                width="1280"
                height="640"
                alt=""
                loading="lazy"
              />
            </picture>
            <div class="topstoryItem__content">
              <div class="topstoryItem__logo">
                <img src="images/content/event-1.png" alt="event" />
              </div>

              <div class="d-flex flex-column gap-lg-6 gap-4">
                <h2 class="h1 text-light titleDecore mb-lg-6 mb-4">
                  After nine years, the Ball Hockey World Championships returns
                  to Czechia
                </h2>
                <div class="d-flex gap-4 flex-wrap">
                  <a href="#" class="btn-primary btn text-lg fw-medium">
                    Watch now {% include "@images/chevron-right.svg" %}
                  </a>
                  <a href="#" class="btn btn-light text-lg fw-medium">
                    Pricing {% include "@images/chevron-right.svg" %}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="topstoryItem">
            <a href="#" class="topstoryItem__link"></a>
            <picture class="topstoryItem__img">
              <source
                media="(max-width: 575px)"
                srcset="
                  https://picsum.photos/480/240 480w,
                  https://picsum.photos/640/320 640w
                "
                sizes="100vw"
              />

              <source
                media="(max-width: 991px)"
                srcset="
                  https://picsum.photos/768/384   768w,
                  https://picsum.photos/1024/512 1024w
                "
                sizes="100vw"
              />

              <source
                media="(min-width: 992px)"
                srcset="
                  https://picsum.photos/1280/640 1280w,
                  https://picsum.photos/1920/960 1920w
                "
                sizes="100vw"
              />

              <img
                src="https://picsum.photos/1280/640"
                width="1280"
                height="640"
                alt=""
                loading="lazy"
              />
            </picture>
            <div class="topstoryItem__content">
              <div class="topstoryItem__logo">
                <img src="images/content/event-2.png" alt="event" />
              </div>

              <div class="d-flex flex-column gap-lg-6 gap-4">
                <h2 class="h1 text-light titleDecore mb-lg-6 mb-4">
                  After nine years, the Ball Hockey World Championships returns
                  to Czechia
                </h2>
                <div class="d-flex gap-4 flex-wrap">
                  <a href="#" class="btn-primary btn text-lg fw-medium">
                    Watch now {% include "@images/chevron-right.svg" %}
                  </a>
                  <a href="#" class="btn btn-light text-lg fw-medium">
                    Pricing {% include "@images/chevron-right.svg" %}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <button class="swiper-btn--blue next" aria-label="Previous">
        {% include "@images/chevron-down.svg" %}
      </button>
    </div>
  </div>
</section>
