:root {
  --color-light: #fafafa;
  --color-extra-light: #f1f3f5;
  --color-white: #ffffff;
  --color-gray-100: #e8e8e8;
  --color-gray-200: #cfcfcf;
  --color-gray-300: #b5b5b5;
  --color-gray-400: #9c9c9c;
  --color-gray-600: #696969;
  --color-bg-gray: #2a3a4d;

  --color-dark: #0f1a20;
  --color-black: #000;

  --color-blue-300: #7cb0db;
  --color-blue-400: #007bc0;
  --color-blue-500: #005a8e;
  --color-blue-600: #003a5f;
  --color-blue-700: #001e34;

  --color-orange: #e6732f;
  --color-accent: #f7602b;
  --color-accent-3: #ee9160;
  --color-red: #ce2621;

  --color-purple: #0a2c5d;
  --color-pink: #ed0280;

  --gradient-1: linear-gradient(
    180deg,
    rgba(0, 90, 142, 0.95) 0%,
    #003a5f 1465.44%
  );

  --bs-border-radius-lg: 16px;
  --bs-border-radius-sm: 6px;

  --bs-border-color: #7cb0db;
  --bs-border-style: solid;
  --bs-border-width: 1px;
}
