<div class="player-detail">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-6">
        <div class="player-detail__box">
          <h2 class="h2 text-uppercase mb-4">Tournaments</h2>
          <div class="o-content">
            <table>
              <thead>
                <tr>
                  <th class="text-start">Tournament</th>
                  <th>G</th>
                  <th class="text-center">A</th>
                  <th class="text-center">P</th>
                  <th class="text-center">PIM</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img
                      src="images/content/ballhockey2.png"
                      width="32"
                      height="32"
                      alt=""
                      class="object-fit-contain rounded-1 me-2 d-inline-block align-middle"
                    />
                    <a class="fw-semibold text-blue-400 underline" href="#"
                      >Tournament name</a
                    >
                  </td>
                  <td class="text-center">99</td>
                  <td class="text-center">0</td>
                  <td class="text-center">183</td>
                  <td class="text-center">0</td>
                  <td>
                    <a class="text-blue-400 underline text-md" href="#">More</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="images/content/ballhockey2.png"
                      width="32"
                      height="32"
                      alt=""
                      class="object-fit-contain rounded-1 me-2 d-inline-block align-middle"
                    />
                    <a class="fw-semibold text-blue-400 underline" href="#"
                      >Tournament name</a
                    >
                  </td>
                  <td class="text-center">99</td>
                  <td class="text-center">0</td>
                  <td class="text-center">183</td>
                  <td class="text-center">0</td>
                  <td>
                    <a class="text-blue-400 underline text-md" href="#">More</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="images/content/ballhockey2.png"
                      width="32"
                      height="32"
                      alt=""
                      class="object-fit-contain rounded-1 me-2 d-inline-block align-middle"
                    />
                    <a class="fw-semibold text-blue-400 underline" href="#"
                      >Tournament name</a
                    >
                  </td>
                  <td class="text-center">99</td>
                  <td class="text-center">0</td>
                  <td class="text-center">183</td>
                  <td class="text-center">0</td>
                  <td>
                    <a class="text-blue-400 underline text-md" href="#">More</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="images/content/ballhockey2.png"
                      width="32"
                      height="32"
                      alt=""
                      class="object-fit-contain rounded-1 me-2 d-inline-block align-middle"
                    />
                    <a class="fw-semibold text-blue-400 underline" href="#"
                      >Tournament name</a
                    >
                  </td>
                  <td class="text-center">99</td>
                  <td class="text-center">0</td>
                  <td class="text-center">183</td>
                  <td class="text-center">0</td>
                  <td>
                    <a class="text-blue-400 underline text-md" href="#">More</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="images/content/ballhockey2.png"
                      width="32"
                      height="32"
                      alt=""
                      class="object-fit-contain rounded-1 me-2 d-inline-block align-middle"
                    />
                    <a class="fw-semibold text-blue-400 underline" href="#"
                      >Tournament name</a
                    >
                  </td>
                  <td class="text-center">99</td>
                  <td class="text-center">0</td>
                  <td class="text-center">183</td>
                  <td class="text-center">0</td>
                  <td>
                    <a class="text-blue-400 underline text-md" href="#">More</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="player-detail__box">
          <h2 class="h2 text-uppercase mb-4">Last games</h2>
          <div class="o-content">
            <table>
              <thead>
                <tr>
                  <th class="text-start">date</th>
                  <th class="text-start">Game</th>
                  <th class="text-center">g</th>
                  <th class="text-center">A</th>
                  <th class="text-center">P</th>
                  <th class="text-center">PIM</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-gray-600">01/02/2025</td>
                  <td>
                    <a class="fw-semibold text-blue-400 underline" href="#"
                      >Czechia vs Armenia 6:5</a
                    >
                  </td>
                  <td class="text-center">99</td>
                  <td class="text-center">0</td>
                  <td class="text-center">183</td>
                  <td class="text-center">0</td>
                  <td>
                    <a class="text-blue-400 underline text-md" href="#">More</a>
                  </td>
                </tr>
                <tr>
                  <td class="text-gray-600">01/02/2025</td>
                  <td>
                    <a class="fw-semibold text-blue-400 underline" href="#"
                      >Czechia vs Armenia 6:5</a
                    >
                  </td>
                  <td class="text-center">99</td>
                  <td class="text-center">0</td>
                  <td class="text-center">183</td>
                  <td class="text-center">0</td>
                  <td>
                    <a class="text-blue-400 underline text-md" href="#">More</a>
                  </td>
                </tr>
                <tr>
                  <td class="text-gray-600">01/02/2025</td>
                  <td>
                    <a class="fw-semibold text-blue-400 underline" href="#"
                      >Czechia vs Armenia 6:5</a
                    >
                  </td>
                  <td class="text-center">99</td>
                  <td class="text-center">0</td>
                  <td class="text-center">183</td>
                  <td class="text-center">0</td>
                  <td>
                    <a class="text-blue-400 underline text-md" href="#">More</a>
                  </td>
                </tr>
                <tr>
                  <td class="text-gray-600">01/02/2025</td>
                  <td>
                    <a class="fw-semibold text-blue-400 underline" href="#"
                      >Czechia vs Armenia 6:5</a
                    >
                  </td>
                  <td class="text-center">99</td>
                  <td class="text-center">0</td>
                  <td class="text-center">183</td>
                  <td class="text-center">0</td>
                  <td>
                    <a class="text-blue-400 underline text-md" href="#">More</a>
                  </td>
                </tr>
                <tr>
                  <td class="text-gray-600">01/02/2025</td>
                  <td>
                    <a class="fw-semibold text-blue-400 underline" href="#"
                      >Czechia vs Armenia 6:5</a
                    >
                  </td>
                  <td class="text-center">99</td>
                  <td class="text-center">0</td>
                  <td class="text-center">183</td>
                  <td class="text-center">0</td>
                  <td>
                    <a class="text-blue-400 underline text-md" href="#">More</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
