.player-detail {
  padding-top: 103px;
  padding-bottom: 80px;
  background-color: var(--color-light);
  @include media-breakpoint-down(lg) {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  &__box {
    background-color: var(--color-white);
    padding: 24px;
    border-radius: 12px;
    table {
      margin-bottom: 0;
      min-width: max-content;
    }
    th {
      color: #828282;
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      text-transform: uppercase;
      padding-bottom: 14px;
    }
    td {
      font-size: 16px;
      line-height: 24px;
      padding-top: 14px;
      padding-bottom: 14px;
      white-space: nowrap;
      height: 62px;
    }
    th,
    td {
      vertical-align: middle;
      border-bottom: 1px solid #cecece;
    }
  }
}
