{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block main %}
<div class="topGradient">
  {% include "@components/header/header.twig" %} {% include
  "@components/topstory/topstory.twig" %}
</div>

<main class="main" aria-label="Hlavní obsah">
  {% include "@components/matchesLive/matchesLive.twig" %} {% include
  "@components/infoBoard/infoBoard.twig" %} {% include
  "@components/aboutBoard/aboutBoard.twig" %} {% include
  "@components/videoSlider/videoSlider.twig" %} {% include
  "@components/partnersSlider/partnersSlider.twig" %}
</main>

{% endblock %}
