{% extends "@components/base/base.twig" %} {% set title = "02.0_events" %} {%
block main %}

<main class="main" aria-label="Hlavní obsah">
  <section class="subpage">
    <div class="container">
      <h1 class="h2 titleDecore mb-3 text-white text-uppercase">events</h1>
      <hr />
      <h2 class="h2 mb-6 text-white">2026</h2>
      <div class="row g-4">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-1.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-2.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-3.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-banska.svg"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto"> 2026 Master </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-bratislava.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-sheffield.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-2.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-3.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-banska.svg"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto"> 2026 Master </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-bratislava.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-sheffield.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
      </div>

      <hr />

      <h2 class="h2 mb-6 text-white">2025</h2>
      <div class="row g-4">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-1.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>

        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-sheffield.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-2.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-3.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
      </div>

      <hr />

      <h2 class="h2 mb-6 text-white">2023</h2>
      <div class="row g-4">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-1.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-2.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-3.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-banska.svg"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto"> 2026 Master </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-bratislava.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>

        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="eventItem">
            <a href="#" class="eventItem__img">
              <img
                class="object-fit-contain"
                alt="app"
                src="images/content/event-sheffield.png"
                width="100%"
                height="90px"
              />
              <div class="eventItem__star">
                {% include "@images/star.svg" %}
              </div>
            </a>
            <a href="#" class="h5 d-block mb-2 mt-auto">
              2026 Master World Championship
            </a>
            <p class="text-gray-200 text-sm">July 28 – August 1, 2026</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
