{% extends "@components/base/base.twig" %} {% set title = "05.0_purchased" %} {%
block main %}

<div class="bg-blue-600">
  {% include "@components/header/header.twig" %}
  <main class="main" aria-label="Hlavní obsah">
    <section class="pt-10 pb-lg-20 pb-10">
      <div class="container">
        <div
          class="d-flex align-items-center justify-content-between flex-wrap gap-3"
        >
          <h1 class="h2 titleDecore text-white text-uppercase">PURCHASED</h1>

          <a href="#" class="btn btn-primary text-md text-dark"> Buy more </a>
        </div>
        <hr />
        <h2 class="h2 mb-6 text-white">Tournaments</h2>
        <div class="row g-4">
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="eventItem justify-content-center">
              <a href="#" class="eventItem__img">
                <img
                  class="object-fit-contain"
                  alt="app"
                  src="images/content/event-1.png"
                  width="100%"
                  height="90px"
                />
                <div class="eventItem__star">
                  {% include "@images/star.svg" %}
                </div>
              </a>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="eventItem justify-content-center">
              <a href="#" class="eventItem__img">
                <img
                  class="object-fit-contain"
                  alt="app"
                  src="images/content/event-2.png"
                  width="100%"
                  height="90px"
                />
                <div class="eventItem__star">
                  {% include "@images/star.svg" %}
                </div>
              </a>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="eventItem justify-content-center">
              <a href="#" class="eventItem__img">
                <img
                  class="object-fit-contain"
                  alt="app"
                  src="images/content/event-3.png"
                  width="100%"
                  height="90px"
                />
                <div class="eventItem__star">
                  {% include "@images/star.svg" %}
                </div>
              </a>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="eventItem justify-content-center">
              <a href="#" class="eventItem__img">
                <img
                  class="object-fit-contain"
                  alt="app"
                  src="images/content/event-banska.svg"
                  width="100%"
                  height="90px"
                />
                <div class="eventItem__star">
                  {% include "@images/star.svg" %}
                </div>
              </a>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="eventItem justify-content-center">
              <a href="#" class="eventItem__img">
                <img
                  class="object-fit-contain"
                  alt="app"
                  src="images/content/event-bratislava.png"
                  width="100%"
                  height="90px"
                />
                <div class="eventItem__star">
                  {% include "@images/star.svg" %}
                </div>
              </a>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="eventItem justify-content-center">
              <a href="#" class="eventItem__img">
                <img
                  class="object-fit-contain"
                  alt="app"
                  src="images/content/event-sheffield.png"
                  width="100%"
                  height="90px"
                />
                <div class="eventItem__star">
                  {% include "@images/star.svg" %}
                </div>
              </a>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="eventItem justify-content-center">
              <a href="#" class="eventItem__img">
                <img
                  class="object-fit-contain"
                  alt="app"
                  src="images/content/event-banska.svg"
                  width="100%"
                  height="90px"
                />
                <div class="eventItem__star">
                  {% include "@images/star.svg" %}
                </div>
              </a>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="eventItem justify-content-center">
              <a href="#" class="eventItem__img">
                <img
                  class="object-fit-contain"
                  alt="app"
                  src="images/content/event-bratislava.png"
                  width="100%"
                  height="90px"
                />
                <div class="eventItem__star">
                  {% include "@images/star.svg" %}
                </div>
              </a>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="eventItem justify-content-center">
              <a href="#" class="eventItem__img">
                <img
                  class="object-fit-contain"
                  alt="app"
                  src="images/content/event-2.png"
                  width="100%"
                  height="90px"
                />
                <div class="eventItem__star">
                  {% include "@images/star.svg" %}
                </div>
              </a>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
            <div class="eventItem justify-content-center">
              <a href="#" class="eventItem__img">
                <img
                  class="object-fit-contain"
                  alt="app"
                  src="images/content/event-3.png"
                  width="100%"
                  height="90px"
                />
                <div class="eventItem__star">
                  {% include "@images/star.svg" %}
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% include "@components/footer/footer.twig"%}
</div>
{% endblock %}
