{% extends "@components/base/base.twig" %} {% set title = "07.0_login" %} {%
block main %}

<div class="bg-registration min-height-screen">
  {% include "@components/header/header-reg.twig" %}
  <main class="main" aria-label="Hlavní obsah">
    <section class="pt-lg-16 pt-10 pb-lg-20 pb-10">
      <div class="container">
        <div class="position-relative">
          <div class="text-center mb-6">
            <h1 class="h2 text-light mb-4 titleDecore">Welcome back</h1>
            <p class="text-gray-300 text-md mx-auto" style="max-width: 416px">
              Log in to access live streams, replays, and your personal watch
              history.
            </p>
          </div>
          <div class="registration">
            <div class="container-xxs">
              <div class="d-flex flex-column gap-2">
                <a
                  href="/auth/apple"
                  type="button"
                  class="registration__social"
                >
                  <img
                    class="object-fit-contain"
                    src="images/ico/apple.svg"
                    width="20"
                    height="20"
                    alt="apple"
                  />
                  <span>Continue with Apple</span>
                </a>

                <a
                  href="/auth/google"
                  type="button"
                  class="registration__social"
                >
                  <img
                    class="object-fit-contain"
                    src="images/ico/google.svg"
                    width="20"
                    height="20"
                    alt="apple"
                  />
                  <span>Continue with Google</span>
                </a>
              </div>
              <hr />
              <form
                class="form"
                action="/registration"
                method="post"
                novalidate
              >
                <div class="d-flex flex-column gap-2">
                  <div class="form-box">
                    <label class="form-label" for="register-email"
                      >E-mail</label
                    >
                    <input
                      class="form-control"
                      id="register-email"
                      name="email"
                      type="email"
                      placeholder="E-mail"
                      autocomplete="email"
                      inputmode="email"
                      required
                    />
                    <p class="form__error" id="register-email-error" hidden></p>
                  </div>

                  <div class="form-box">
                    <label class="form-label" for="register-password"
                      >Password</label
                    >
                    <div class="form__pass">
                      <input
                        class="form-control"
                        id="register-password"
                        name="password"
                        type="password"
                        placeholder="Password"
                        autocomplete="new-password"
                        required
                      />
                      <button
                        type="button"
                        class="form__pass-toggle"
                        aria-label="Show password"
                      >
                        <span class="icon-show">
                          <img src="images/ico/eye-hidden.svg" alt="" />
                        </span>
                        <span class="icon-hide">
                          <img src="images/ico/eye-visible.svg" alt="" />
                        </span>
                      </button>
                    </div>
                    <p
                      class="form__error"
                      id="register-password-error"
                      hidden
                    ></p>
                  </div>
                </div>

                <button
                  type="submit"
                  class="btn btn-primary text-dark form-submit"
                >
                  Create account
                </button>
              </form>
              <div class="text-md text-center text-gray-300 mt-lg-12 mt-8">
                Don’t have an account?
                <a href="#" class="d-block text-accent underline">Sign up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>

{% include "@components/modalPromo/modalPromo.twig"%} {% endblock %}
