<section class="videoSlider">
  <div class="container">
    <div class="mb-64">
      <div class="row g-4">
        <div class="col-lg-6">
          <a href="#" target="_blank" class="w-100 d-block">
            <img
              class="object-fit-cover h-auto w-100"
              alt="app"
              src="images/content/bb-2.png"
              sizes="
                  (min-width: 628px) 628w
                "
              width="628"
              height="180"
            />
          </a>
        </div>
        <div class="col-lg-6">
          <a href="#" target="_blank" class="w-100 d-block">
            <img
              class="object-fit-cover h-auto w-100"
              alt="app"
              src="images/content/bb-3.png"
              sizes="
                  (min-width: 628px) 628w
                "
              width="628"
              height="180"
            />
          </a>
        </div>
      </div>
    </div>
    <div
      class="d-flex mb-4 justify-content-between align-items-center gap-3 flex-wrap"
    >
      <h2 class="h1 titleDecore">ISBHF MEDIA</h2>
      <a href="#" class="btn btn-stroke">
        See more {% include "@images/chevron-right.svg" %}
      </a>
    </div>
    <ul class="videoSlider__inner">
      <li>{% include "@components/videoItem/videoItem.twig" %}</li>
      <li>{% include "@components/videoItem/videoItem.twig" %}</li>
      <li>{% include "@components/videoItem/videoItem.twig" %}</li>
      <!-- <li>{% include "@components/videoItem/videoItem.twig" %}</li> -->
      <!-- <li>{% include "@components/videoItem/videoItem.twig" %}</li>
      <li>{% include "@components/videoItem/videoItem.twig" %}</li>
      <li>{% include "@components/videoItem/videoItem.twig" %}</li>
      <li>{% include "@components/videoItem/videoItem.twig" %}</li> -->
    </ul>
  </div>
</section>
<div
  class="modal fade"
  id="modalVideoToggle"
  aria-hidden="true"
  aria-labelledby="modalVideoLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/-6xNMzouiAM?si=muepwU1sToYnqndX"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
