.videoSlider {
  background-color: var(--color-light);
  padding: 64px 0;
  @include media-breakpoint-down(lg) {
    padding: 40px 0;
  }
  &__inner {
    display: flex;
    margin: 0 -8px;
    li {
      padding: 0 8px;
    }
  }
  .videoItem {
    aspect-ratio: 360/200;
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }
  .videoItem__content {
    padding: 0 16px;
    bottom: 16px;
  }

  // .slick-slide:not(.slick-active) {
  //   .videoItem:before {
  //     background: linear-gradient(
  //       270deg,
  //       #fafafa 34%,
  //       rgba(250, 250, 250, 0) 100%
  //     );
  //   }
  // }
}
